<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{etpAdminInclude/etpAdminLayout}">

<th:block layout:fragment="contents">
	<form action="#">
		<div id="mainDiv" th:each=" lists :${list}">
			<!-- mainDiv 안 왼쪽 div  -->
			<div id="left" class="">

				<div id="code" style="display: none" th:text="${lists.etp_cd}">
				</div>
				
				<div id="code" style="display: none" th:text="${lists.etp_if_img_path}">
				</div>
					
				<br />
				<!-- 업체 이름 -->
				<div class="form-label-group left_input">
					<div>
						<label class="desc" for="Field1">업체 이름</label> <input
							id="etp_nm" name="Field1" type="text" class="form-control a"
							th:value="${lists.etp_nm}" size="25" tabindex="1">
					</div>
				</div>


				<!-- 전화 번호 -->
				<div class="form-label-group left_input" id="ph_no_div">
					<div>
						<label class="desc" for="Field1">전화번호</label> <input
							id="etp_ph_no" name="Field1" type="text" class="form-control a"
							th:value="${lists.etp_ph_no}" size="25" tabindex="1">
					</div>
				</div>
				<br /> <br />



				<!-- 업체 주소 -->
				<div class="form-label-group left_input">
					<div>
						<label class="desc" for="Field4">주소</label> <input
							id="etp_addr" name="Field1" type="text" class="form-control b"
							th:value="${lists.etp_addr}" size="61.9" tabindex="1">
					</div>
				</div>
				<br /> <br />

				<!-- 사업자 번호 -->
				<div class="form-label-group left_input">
					<div>
						<label class="desc" for="Field1">사업자
							번호</label> <input id="etp_license_no" name="Field1" type="text"
							class="form-control a" th:value="${lists.etp_license_no}"
							size="25" tabindex="1">
					</div>
				</div>

				<!-- 회사 이메일 -->
				<div class="form-label-group left_input">
					<div>
						<label class="desc" for="Field1">회사 이메일</label> <input
							id="etp_email" name="Field1" type="text" class="form-control a"
							th:value="${lists.etp_email}" size="25" tabindex="1">
					</div>
				</div>
				<br /> <br />


				<!-- 영업 시간 -->
				<div class="left_input" style="width: 100%">
					<label class="desc" id="time1" for="Field1">영업 시간</label>
					<div id="selecter" class="">
						<select id="s1" class="form-control selectBox">
							<option value="7">07
							<option value="8">08
							<option value="9">09
							<option value="10">10
							<option value="11">11
							<option value="12">12
							<option value="13">13
							<option value="14">14
							<option value="15">15
						</select> <select id="m1" class="form-control selectBox">
							<option value="00">00
							<option value="10">10
							<option value="20">20
							<option value="30">30
							<option value="40">40
							<option value="50">50
						</select>
						<h3 style="display: inline-block;">~</h3>
						<select id="s2" class="form-control selectBox">
							<option value="16">16
							<option value="17">17
							<option value="18">18
							<option value="19">19
							<option value="20">20
							<option value="21">21
							<option value="22">22
							<option value="23">21
						</select> <select id="m2" class="form-control selectBox">
							<option value="00">00
							<option value="10">10
							<option value="20">20
							<option value="30">30
							<option value="40">40
							<option value="50">50
						</select>
					</div>
				</div>
				<br/><br/>
				
				<!-- 이미지 업로드 -->
				<div id="img_div" class="left_input" style="margin-left:15%">
					<input type="file" value="upload" class="foo" id="fileButton" /> <br />
					
					<!-- DB에 등록된 이미지 경로가 없을 때(null일 떄) -->
					<img th:if="${lists.etp_if_img_path} == null" th:attr="src='img/noImage.png'"
					id="productImg_null" alt="이미지 없음" style="width:600px; height:250px;"/> 
					
					<!-- DB에 등록된 이미지 경로가 있을 때 -->
					<img th:if="${lists.etp_if_img_path} != null" th:attr="src=${lists.etp_if_img_path}"
					id="productImg_notNull" style="width:600px; height:250px;"/>
	
					<br /> 
					<progress value="0" max="100" id="uploader"
						style="display: block; margin: 0px auto;">0%</progress>
				</div>
				<!-- 이미지 업로드에 필요한 것 -->
				<span id="imgsrccode" style="display: none"></span>
				
			</div>
			<!-- left END -->

			<!-- mainDiv 안 오른쪽 div  -->
			<div id="right" class="">
				<br />
				<!-- 업체 간단 설명 -->
				<div class="form-label-group right_input">
					<div>
						<label class="desc" id="title4" for="Field4">간단 소개</label>
						<textarea id="etp_if_info" th:text="${lists.etp_if_info}"
							name="Field4" class="form-control right_textarea"
							spellcheck="true" rows="3" cols="30" tabindex="4"
							style="width: 80%;"></textarea>
					</div>
				</div>
				<br />

				<!-- 업체 상세 설명 -->
				<div class="form-label-group right_input">
					<div>
						<label class="desc" id="title4" for="Field4">이용 안내 및 주의 사항</label>
						<textarea id="etp_if_intro" th:text="${lists.etp_if_intro}"
							name="Field4" class="form-control right_textarea"
							spellcheck="true" rows="12" cols="30" tabindex="4"
							style="width: 80%;"></textarea>
					</div>
				</div>

				<!-- 수정 버튼 -->
				<div>
					<input id="update" name="saveForm" type="button"
						class="btn btn-primary" value="수정"
						style="background-color: black;">
				</div>
			</div>
			<!-- right END -->

		</div>
		<!-- mainDiv END -->



	</form>
	
<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js">
	
</script>


</th:block>

<th:block layout:fragment="page_js">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="/etpAdmin/js/etpInfo.js"></script>
</th:block>

<th:block layout:fragment="page_css">
	<link href="etpAdmin/css/etpInfo.css" rel="stylesheet" type="text/css">
</th:block>


</html>