<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{etpAdminInclude/etpAdminLayout}">

<th:block layout:fragment="contents">
	<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
	<script>
	 //Your web app's Firebase configuration
	  var firebaseConfig = {
	  	apiKey : "AIzaSyDcJDqLBjqwDetOcCt5LcYjr8k8EL7mMnk",
	  	authDomain : "blogapp-a9a56.firebaseapp.com",
	  	databaseURL : "https://blogapp-a9a56.firebaseio.com",
	  	projectId : "blogapp-a9a56",
	  	storageBucket : "blogapp-a9a56.appspot.com",
	  	messagingSenderId : "604610409810",
	  	appId : "1:604610409810:web:76decd7c19ac5f6b"
	  };
	  // Initialize Firebase
	  firebase.initializeApp(firebaseConfig);
	  
	  // 파이어베이스 스토리지 생성
	  var storage = firebase.storage();
	  var storageRef = storage.ref();
	  
	  var starsRef = storageRef.child('uploadTest/e91aa208-5df2-196e-dd12-881386a8cb85')

	  var abc = starsRef.getDownloadURL();
	  console.log(jQuery.type(abc));
	  console.log(abc);
	  console.log(typeof abc);

	 	starsRef.getDownloadURL().then(function(url) {
		  // `url` is the download URL for 'images/stars.jpg'

		  // This can be downloaded directly:
		  var xhr = new XMLHttpRequest();
		  xhr.responseType = 'blob';
		  xhr.onload = function(event) {
		    var blob = xhr.response;
		  };
		  xhr.open('GET', url);
		  xhr.send();

		  // Or inserted into an <img> element:
		  var img = document.getElementById('myimg');
		  img.src = url;

		}).catch(function(error) {
		  // Handle any errors
		});
	
	
	</script>



	<div id="content-wrapper">

		<div class="container-fluid">
			<!-- DataTables Example -->
			<div class="card mb-3">
				<div class="card-header">
					<h1>상품 정보</h1>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th>상품 이름</th>
									<th>가격</th>
									<th>설명</th>
									<th>상품 이미지</th>
									<th>삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each=" pro : ${product_info}">
									<td><label class="pd_nm" th:text="${pro.pd_nm}"></label></td>

									<td><label class="pd_price" th:text="${pro.pd_price}"></label>
									</td>

									<td><label class="pd_content" th:text="${pro.pd_content}"></label>
									</td>

									<td><img src="https://firebasestorage.googleapis.com/v0/b/blogapp-a9a56.appspot.com/o/uploadTest%2Fe91aa208-5df2-196e-dd12-881386a8cb85?alt=media&token=dac8e825-88cc-48c2-b3d3-5569e972222a"></td>

									<td>
										<button class="btn btn-danger remove" type="button">Remove</button>
									</td>
								</tr>
							</tbody>
						</table>
						<button class="btn btn-large btn-success add" type="button">Add</button>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- /.content-wrapper -->
</th:block>

<th:block layout:fragment="page_js">
<!-- 	<script src="assets/js/enterprise_manage/etp_manager.js"></script> -->
  <script src="/etpAdmin/js/etpProduct.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</th:block>

</html>