<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{myPageInclude/myPageLayout}">
	
	
<!-- CSS -->
<th:block layout:fragment="page_css">
<link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet">
	<link href="myPage/css/myPageInfoEdit.css" rel="stylesheet"
		type="text/css">
</th:block>

<!-- JS -->
<th:block layout:fragment="page_js">
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="/myPage/js/jquery-3.4.1.min.js"></script>
<script src="/myPage/js/myPageInfoEdit.js"></script>

<!-- 파이어베이스 이용을 위해 스크립트 선언 -->
<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>

</th:block>	
	
<!-- 홈 페이지에 들어갈 내용-->
<th:block layout:fragment="contents">
	<div class="row">
		<div class="col-md-12">
			<h1>회원 정보 수정</h1>
		</div>
	</div>
	<hr />

	<!-- page-inner 안 왼쪽 div -->
	 	<div id="left">
		<h2 style="text-align: center;">회원 프로필</h2>
		<hr style="width: 60%" /> 

		<!-- 사진 등록 DIV
		<span id="imgsrccode" style="display: none"></span> 사진 등록에 필요한 태그
		
		<div>
			<div>
				<img id="productImg" src="img/noImage.png" class="alreadyImg"
					alt="미리보기" /> <br />
				<input type="file" value="upload" class="foo" id="fileButton" /> <br />	
					
				<progress value="0" max="100" id="uploader"
					style="display: block; margin: 0px auto;">0%</progress>
			</div>


		</div> -->


		<!-- 고정값 DIV -->
	<div class="font" id="info" th:each="memberinfo : ${memberinfo}">
		<div>
			아이디 : <span id="font" class="id" th:text="${memberinfo.user_id}"></span>
		</div>
		<p>
		<div>
			이름 : <span id="font" th:text="${memberinfo.user_nm}"></span>
		</div>
		<p>
		<div>
			생년월일 : <span id="font" th:text="${memberinfo.birth_dt}"></span>
		</div>
		<p>
		<div>
			휴대전화 <span class="phon" th:text="${memberinfo.ph_no}"></span>
		</div>
	</div>

		<!-- 프로필이 수정 될 DIV -->
		<div class="form-inline form-group" id="infoup">
		
			<span class="font">휴대전화 : </span>
			<input type="text" id="newphon" class="form-control"  maxlength="11"/> <br/>
			
			<span class="font">주소 : </span>
			<input type="text" class="form-control"/> <br/>
			
			
		
		</div>
		
		<!-- 수정 완료 버튼 -->
		<input type="button" id="editBtn" value="수정" class="btn btn-info" />
	
	
	</div>
	<!-- left div END -->


	<!-- page-inner 안 오른쪽 div -->
<!-- 	<div id="right">
		<h2 style="text-align: center;">비밀번호 변경</h2>
		<hr style="width: 60%" />
		<br /> <br /> <br /> <br /> -->

<!-- 		<div class="form-inline form-group">
			<label>변경할 비밀번호 : </label> <input type="password"
				class="form-control" id="password_01" name="password_01"> <br />


			<label>변경할 비밀번호 확인 : </label> <input type="password"
				class="form-control" id="password_02" name="password_02"> <br />

			<input type="button" id="passWordBtn" value="변경" class="btn btn-info" />
		</div> -->

		<br /> <br /> <br /> <br />

		<hr style="width: 60%" />
	</div>
	<!-- right div END -->
</th:block>

</html>