<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar-default navbar-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="main-menu">
			<li class="text-center user-image-back"><img
				src="myPage/img/find_user.png" class="img-responsive" /></li>


			<li><a href="/myPageHome"><i class="fa fa-desktop "></i>회원 정보</a>
			</li>
			<li><a href="#"><i class="fa fa-edit "></i>예약 현황<span
					class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="#">반려견 호텔</a></li>
					<li><a href="#">반려견 장례</a></li>
					<li><a href="#">반려견 병원</a></li>
				</ul></li>

			<li><a href="#"><i class="fa fa-table "></i>회원 탈퇴</a></li>
		</ul>

	</div>

</nav>
<!-- /. NAV SIDE  -->


</html>