<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>

<th:block layout:fragment="page_css">
<!-- 	<link rel="stylesheet" href="assets/css/page/hotel/hotel_info.css"> -->
	 
</th:block>

<th:block layout:fragment="page_js">
<!-- 	<script src="assets/js/enterprise_manage/etp_manager.js"></script> -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

</th:block>

<th:block layout:fragment="contents" scroll="no">
주문 페이지 (월별 달력 기능의 업체 관리와 호텔에약 기능 추가 예정)
</th:block>
</html>