<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
<form action="#">
		  <header>
		    <h2>업체 설명 수정 폼</h2>
	
		  </header>
		  
		  <div>
		    <label class="desc" id="title1" for="Field1">업체 이름</label>
		    <div>
		      <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1">
		    </div>
		  </div>
		    
		    
		  <div>
		    <label class="desc" id="title4" for="Field4">업체 설명</label>
		     <div>
		      <textarea id="Field4" name="Field4" spellcheck="true" rows="5" cols="30" tabindex="4" style="width:80%;"></textarea>
		    </div>
		  </div>
		  
		  <div>
		    <label class="desc" id="title4" for="Field4">주의 사항</label>
		     <div>
		      <textarea id="Field4" name="Field4" spellcheck="true" rows="5" cols="30" tabindex="4" style="width:80%;"></textarea>
		    </div>
		  </div>
		  
		  
		   <div>
		    <label class="desc" id="title106" for="Field106">편의 시설</label>
		    <div>
		     <input type="checkbox" />개인실
		     <input type="checkbox" />침구
		     <input type="checkbox" />놀이공간
		     <input type="checkbox" />안심 카메라
		    </div>
		  </div>
		  
		  <div>
				<div>
		  		<input id="saveForm" name="saveForm" type="button" value="수정">
		    </div>
			</div>
		  
		</form>
		    
<!-- 		  <div> -->
<!-- 		    <fieldset> -->
		    
<!-- 		      <legend id="title5" class="desc"> -->
<!-- 		        Select a Choice -->
<!-- 		      </legend> -->
		      
<!-- 		      <div> -->
<!-- 		      	<input id="radioDefault_5" name="Field5" type="hidden" value=""> -->
<!-- 		      	<div> -->
<!-- 		      		<input id="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5" checked="checked"> -->
<!-- 		      		<label class="choice" for="Field5_0">First Choice</label> -->
<!-- 		      	</div> -->
<!-- 		        <div> -->
<!-- 		        	<input id="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6"> -->
<!-- 		        	<label class="choice" for="Field5_1">Second Choice</label> -->
<!-- 		        </div> -->
<!-- 		        <div> -->
<!-- 		        	<input id="Field5_2" name="Field5" type="radio" value="Third Choice" tabindex="7"> -->
<!-- 		        	<label class="choice" for="Field5_2">Third Choice</label> -->
<!-- 		        </div> -->
<!-- 		      </div> -->
<!-- 		    </fieldset> -->
<!-- 		  </div> -->
		  
<!-- 		  <div> -->
<!-- 		    <fieldset> -->
<!-- 		      <legend id="title6" class="desc"> -->
<!-- 		        Check All That Apply -->
<!-- 		      </legend> -->
<!-- 		      <div> -->
<!-- 		      <div> -->
<!-- 		      	<input id="Field6" name="Field6" type="checkbox" value="First Choice" tabindex="8"> -->
<!-- 		      	<label class="choice" for="Field6">First Choice</label> -->
<!-- 		      </div> -->
<!-- 		      <div> -->
<!-- 		      	<input id="Field7" name="Field7" type="checkbox" value="Second Choice" tabindex="9"> -->
<!-- 		      	<label class="choice" for="Field7">Second Choice</label> -->
<!-- 		      </div> -->
<!-- 		      <div> -->
<!-- 		      	<input id="Field8" name="Field8" type="checkbox" value="Third Choice" tabindex="10"> -->
<!-- 		      	<label class="choice" for="Field8">Third Choice</label> -->
<!-- 		      </span> -->
<!-- 		      </div> -->
<!-- 		    </fieldset> -->
<!-- 		  </div> -->
		  
		 
</body>
</html>