<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/serviceLayout">

<th:block layout:fragment="page_head">
	<title>상세 페이지</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" href="assets/css/page/enterprise/etpManage.css">

</th:block>

<th:block layout:fragment="page_js">
<!-- 	<script src="assets/js/hotel.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

	$(document).ready(function() {
		
			$("#zero").click(function(){
				location.reload();
			});
		
	     
	      $("#first").click(function() {
	    	 
	         $(".total").load("/etphome"); 
	         

	      });
	      

	      $("#second").click(function() {
	    	 
	         $(".total").load("/etpimg"); 

	      });
	      
	      $("#third").click(function(){
	    	  
	    	  $(".total").load("/etpproduct"); 
	    	  
	      });
	      
 		 $("#four").click(function(){
	    	  
	    	  $(".total").load("/etporder"); 
	    	  
	      });
	      

	      
	 }); 

</script>
</th:block>

<th:block layout:fragment="contents" scroll="no">
<html>
<head>
    <title>SideBar Menu</title>
</head>


    <div class="sidebar">
    	
        <img alt="logo" height="150" width="200" src="assets/img/enterprise_manage/enterpriseIcon.svg" >

        <ul>
            <li class="listItemA" id="zero"><img alt="icon" height="40" src=
            "assets/img/enterprise_manage/circle-xxl.png" width=
            "40">홈화면</li>
            
            <li class="listItemA" id="first"><img alt="icon" height="40" src=
            "assets/img/enterprise_manage/circle-xxl.png" width=
            "40">업체 정보</li>

            <li class="listItemA" id="second"><img alt="icon" height="40" src=
            "assets/img/enterprise_manage/circle-xxl.png" width=
            "40">이미지 수정</li>

            <li class="listItemA" id="third"><img alt="icon" height="40" src=
            "assets/img/enterprise_manage/circle-xxl.png" width=
            "40">상품 정보</li>

            <li class="listItemA" id="four"><img alt="icon" height="40" src=
            "assets/img/enterprise_manage/circle-xxl.png" width=
            "40">주문 현황</li>
        </ul>
    </div>



<div class="total" id="total">
	<div th:each=" if : ${etpInfo}">
		<div th:if = "${if} !=null">
			<div style="margin-top : 10%; margin-left : 50%;">
				확인용 
				
				
					<span th:text="${if.etp_cd}"></span>
			</div>
		</div>
	</div>
			
</div>
</th:block>
</html>