<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>

<th:block layout:fragment="page_css">
<!-- 	<link rel="stylesheet" href="assets/css/page/hotel/hotel_info.css"> -->
	 
</th:block>

<th:block layout:fragment="page_js">
	<script src="assets/js/enterprise_manage/etp_manager.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bPopup/0.11.0/jquery.bpopup.js"></script><!-- 팝업창 스크립트  -->

</th:block>

<th:block layout:fragment="contents" scroll="no">

<div class="total_div_ex">
		<div class="top-nav">
			<div class="sel sel--black-panther">
		  <select name="select-profession" id="select-profession">
		    <option value="" disabled>날짜기준</option>
		    <option value="buy-day">구매일</option>
		    <option value="book-day">예약 날짜</option>
		  </select>
		</div>
		
		<div class="sel sel--superman">
			<label>시작일</label>
			<input type="date" class="clender" id="start" value=""/>
		</div>
		
		<div class="sel sel--superman">
			<label>종료일</label>
			<input type="date" class="clender" id="end" value=""/>
		</div>
		
		
		<div class="sel sel--superman">
		  <select name="select-superpower" id="select-superpower">
		    <option value="" disabled>예약상태</option>
		    <option value="wait">확정대기</option>
		    <option value="cancel">취소예정</option>
		    <option value="book-submit">예약확정</option>
		  </select>
		</div>
		
		<div class="sel sel--superman sel-to">
			<div class="on-off">
			<span class="off" >미확인</span>
			</div>
			
						
						<div class="four">
						  <div class="button-wrap">
						    <div class="button-bg">
						      <div class="button-out"></div>
						      <div class="button-in"></div>
						      <div class="button-switch"></div>
						    </div>
						  </div>
						</div>
		</div>
		
		<br/>
		<br/>
		<br/>
		
		
		<div class="sel sel--superman sel-to">
			<label>구매자명</label>
			<input class="opt" type="text" value="" maxlength="10">
		</div>
		
		
		<div class="sel sel--superman sel-to">
			<label>연락처</label>
			<input class="opt1" type="text" value="" maxlength="11" placeholder="   (-)빼고 입력해주세요     ">
		</div>
		
		<div class="sel sel--superman sel-to2" >
			
		</div>
		
		
		<div class="sel sel--superman sel-to2">
			
		</div>
		
		
		<div class="sel sel--superman sel-to sel-to2">
			<button class="btn btn-success searchBtn">검색</button>
		</div>
		
		</div>
		
		<div class="text-center pagenation">
 		<ul class="pagination">
 			<li><a href="#">1</a></li>
 			<li><a href="#">2</a></li>
 			<li><a href="#">3</a></li>
 		</ul>
 		</div>
		
		 <div class="bottom_table">
		 	<table class="table table-hover st_table">
		 		<thead>
		 			<tr>
		 				<th><input type="checkbox"></th>
		 				<th>구매일</th>
		 				<th>상품명</th>
		 				<th>구매자명</th>
		 				<th>연락처</th>
		 				<th>예약일</th>
		 				<th>예약 상태</th>
		 				<th>확인</th>
		 				<th>금액</th>
		 			</tr>
		 		</thead>
		 		
		 			<tbody class="or_list">
		 				<tr class="tr_list" th:each="  order : ${orderLists}">
		 					<td><input type="checkbox"></td>
		 					<td th:text="${order.charthisdate}"></td>
		 					<td th:text="${order.pd_nm}"></td>
		 					<td th:text="${order.user_nm}"></td>
		 					<td th:text="${order.ph_no}"></td>
		 					<td><label th:text="${order.chardate}"></label><br> ~ <label th:text="${order.chardate2}"></label></td>
		 					<td>
		 					<div th:switch="${order.or_stat}"> 
							<label th:case="'1'" style="color:black">예약 대기중</label>
							<label th:case="'2'" style="color:red">예약 확정</label>
							<label th:case="'3'" style="color:blue">취소 대기중</label>
							
							</div>
							</td>
		 					<td th:switch="${order.or_check}">
		 					<label th:case="'1'" style="color:red">미확인</label>
							<label th:case="'2'" style="color:green">확인</label>
		 					</td>
		 					<td th:text="${order.price}+'KRW'"></td>
		 				</tr>
		 			</tbody>
		 	</table>
		 	<hr/>
		</div>
 </div>


<div id="bP" class="bP">
  <div id="wrapper">
    <div class="logo">
      <h1>상세 예약서</h1>
      <button class="success">확인</button>
      <button class="exit">닫기</button>
    </div>
    <hr>
	<div class="a">
	구매 날짜  : <span class="this_day"></span>
	</div>
	
	<div class="b">
	상품명  :<span class="pro_nm"></span>
	</div>
	
	<div class="c">
	구매자명 : <span class="nm"></span>
	</div>
	
	<div class="d">
	연락처 :<span class="ph"></span>
	</div>
	
	<div class="e">
	예약일  :<span class="fir"></span> ~ <span class="la"></span>
	</div>
	
	<div class="f">
	상태  :<span class="stat"></span>
	</div>
	
	<div class="g">
	확인  :<span class="check"></span>
	</div>


	<div class="h">
	총가격  :<span class="to_price"></span>
	</div>	    
      
    
    </div>
 </div>


</th:block>
</html>