<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>

<th:block layout:fragment="page_css">
<!-- 	<link rel="stylesheet" href="assets/css/page/hotel/hotel_info.css"> -->
	 
</th:block>

<th:block layout:fragment="page_js">
<!-- 	<script src="assets/js/hotel.js"></script> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		$(document).ready(function(){
			
			
		});
		
	</script>
</th:block>

<th:block layout:fragment="contents" scroll="no">
<form action="#">
		  <header>
		    <h2>업체 설명 수정 폼</h2>
	
		  </header>
 <div th:each=" lists :${list}">
		  <div>
		    <label class="desc" id="title1" for="Field1">업체 이름</label>
		    <div>
		      <input id="Field1" name="Field1" type="text" class="field text fn" th:value="${lists.etp_nm}" size="8" tabindex="1">
		    </div>
		  </div>
		    
		    
		    <div>
		    <label class="desc" id="title4" for="Field4">업체 간단 설명</label>
		     <div>
		      <textarea id="Field4" th:text="${lists.etp_content}"name="Field4" spellcheck="true" rows="5" cols="30" tabindex="4" style="width:80%;"></textarea>
		    </div>
		  </div>
		    
		  <div>
		    <label class="desc" id="title4" for="Field4">업체 상세 설명</label>
		     <div>
		      <textarea id="Field4" th:text="${lists.etp_if_intro}"name="Field4" spellcheck="true" rows="5" cols="30" tabindex="4" style="width:80%;"></textarea>
		    </div>
		  </div>
		  
		  
		  
		   <div>
		    <label class="desc" id="title4" for="Field4">주소</label>
		     <div>
		      <input id="Field1" name="Field1" type="text" class="field text fn" th:value="${lists.etp_addr}" size="8" tabindex="1">
		    </div>
		  </div>
		  
		  <div>
		    <label class="desc" id="title1" for="Field1">전화번호</label>
		    <div>
		      <input id="Field1" name="Field1" type="text" class="field text fn" th:value="${lists.etp_ph_no}" size="8" tabindex="1">
		    </div>
		  </div>
		  
		  <div>
		    <label class="desc" id="title1" for="Field1">사업자 번호</label>
		    <div>
		      <input id="Field1" name="Field1" type="text" class="field text fn" th:value="${lists.etp_license_no}" size="8" tabindex="1">
		    </div>
		  </div>
		  
 <div>
		    <label class="desc" id="title1" for="Field1">영업 시간</label>
		    <div>
		      <select>
		      	<option>09:00
		      	<option>10:00
		      	<option>11:00
		      	<option>12:00
		      	<option>13:00
		      	<option>14:00
		      	<option>15:00
		      </select>
		      ~
		      <select>
		      	<option>16:00
		      	<option>17:00
		      	<option>18:00
		      	<option>19:00
		      	<option>20:00
		      	<option>21:00
		      	<option>22:00
		      </select>
		    </div>
		  </div>
	</div>	  
		  
		   <div>
		    <label class="desc" id="title106" for="Field106">편의 시설</label>
		    <div style="padding-left : 20px;">
		     <input type="checkbox" value="1"/>개인실
		     <input type="checkbox" value="2"/>간식 제공
		     <input type="checkbox" value="3"/>놀이 공간
		     <input type="checkbox" value="4"/>안심 카메라
		     <input type="checkbox" value="5"/>와이파이
		     <input type="checkbox" value="6"/>카페
		    </div>
		  </div>
		  
				 <div>
						<div>
				  			<input id="saveForm" name="saveForm" type="button" value="수정">
					    </div>
				</div>
		  
		</form>

</th:block>
</html>