<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- NAVBAR 시작 ================================================= -->


<nav class="navbar navbar-expand-lg navbar-dark navbar-togglable  fixed-top" id="mainNav_box">
	<div class="container">

		<!-- Brand -->
		<a class="navbar-brand js-scroll-trigger" href="/"> <img
			src="assets/img/Together.png">
		</a>

		<!-- Toggler -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarCollapse" aria-controls="navbarCollapse"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon-bar"> <i class="fa fa-bars"></i>
			</span>
		</button>
		


		<!-- Collapse -->
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<!-- Links -->
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link js-scroll-trigger"
					href="/"> Home </a></li>

				<li class="nav-item"><a class="nav-link js-scroll-trigger"
					href="/services"> Services </a></li>
				<li class="nav-item "><a class="nav-link js-scroll-trigger"
					href="page"> Page </a></li>
					
				<li class="nav-item " th:if="${session.user}"><a class="nav-link js-scroll-trigger"
				href="mypage"> 마이페이지 </a></li>
				
				<li class="nav-item " th:if="${session.user}"><span th:if="${session.user.authority_no == 2}"><a class="nav-link js-scroll-trigger"
					href="manager"> 업체 관리 페이지 </a></span></li>				

				<li th:if="${session.user == null}" id="login"><a href="/login" >로그인</a><a
					href="/signup">회원가입</a></li>
				<li th:if="${session.user}"><span
					th:text="${session.user.user_nm}" id="logout"></span><a href="/logout">로그아웃</a>
			</ul>

		</div>


		<!-- / .navbar-collapse -->
	</div>


	<!-- / .container -->
</nav>
<!-- NAVBAR 끝 ================================================= -->
</html>