<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{adminInclude/adminLayout}">

<th:block layout:fragment="page_head">
	<title>관리자 홈 페이지</title>
</th:block>

<!-- 홈 페이지에 들어갈 내용-->
<th:block layout:fragment="contents">
	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			<div
				class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-0 text-gray-800"></h1>
			</div>

			<!-- Content Row -->
			<div class="row">

				<!-- 회원수 -->
				<div class="col-xl-3 col-md-6 mb-4" onclick="location.href='/memberManage/1'" style="cursor:pointer;">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div
										class="font-weight-bold text-primary text-uppercase mb-1 each_count_01" id="memberCnt">회원</div>
									<div class="mb-0 font-weight-bold text-gray-800 each_count_02" th:text="|${memberCnt}명|"></div>
								</div>
								<div class="col-auto">									
									<i class="fas fa-users fa-3x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- 반려견 수 -->
				<div class="col-xl-3 col-md-6 mb-4" onclick="location.href='/dogsManage/1'" style="cursor:pointer;">
					<div class="card border-left-info shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div
										class="font-weight-bold text-info text-uppercase mb-1 each_count_01" id="dogsCnt">반려견</div>
									<div class="row no-gutters align-items-center">
										<div class="col-auto">
											<div class="mb-0 mr-3 font-weight-bold text-gray-800 each_count_02" th:text="|${dogsCnt}마리|"></div>
										</div>

									</div>
								</div>
								<div class="col-auto">
									<i class="fas fa-paw fa-3x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- 입점 신청 업체 수 -->
				<div class="col-xl-3 col-md-6 mb-4" onclick="location.href='/enterpriseManage/1'" style="cursor:pointer;">
					<div class="card border-left-success shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div
										class="font-weight-bold text-success text-uppercase mb-1 each_count_01" id="etpApplyCnt">입점 신청</div>
									<div class="mb-0 font-weight-bold text-gray-800 each_count_02" th:text="|${etpApplyCnt}건|"></div>
								</div>
								<div class="col-auto">
									<i class="fas fa-file-signature fa-3x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- 등록 된 업체 수 -->
				<div class="col-xl-3 col-md-6 mb-4" onclick="location.href='/enterpriseList/1'" style="cursor:pointer;">
					<div class="card border-left-warning shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div
										class="font-weight-bold text-warning text-uppercase mb-1 each_count_01" id="etpCnt" >입점 업체</div>
									<div class="mb-0 font-weight-bold text-gray-800 each_count_02" th:text="|${etpCnt}개|"></div>
								</div>
								<div class="col-auto">
									<i class="fas fa-building fa-3x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Content Row -->

			<div class="row">

				<!-- 라인 차트 : 월 별 가입자-->
				<div class="col-xl-8 col-lg-7">
					<div class="card shadow mb-4" style="height : 96%;">
						<!-- Card Header - Dropdown -->
						<div
							class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h6 class="m-0 font-weight-bold text-primary graph_title" id="monthMemberCnt">월 별 가입자</h6>
							
							<div>
								<select class="form-control" id="yearSelectBox">
									<option value="0" selected>-- 연도 선택 --</option>
									<option class="yearOption" value="19">2019</option>
									<option class="yearOption" value="20">2020</option>
									<option class="yearOption" value="21">2021</option>
									<option class="yearOption" value="21">2022</option>
									<option class="yearOption" value="21">2023</option>
									<option class="yearOption" value="21">2024</option>
									<option class="yearOption" value="21">2025</option>	
								</select>
							</div>
						</div>
						<!-- Card Body -->
						<div class="card-body">
							<div class="chart-area">
								<!-- 차트 그리는 부분 -->
								<div id="lineChart_01"></div>
							</div>
						</div>
					</div>
				</div>

				<!-- 도넛 차트 : 연령대 별 가입자 -->
				<div class="col-xl-4 col-lg-5">
					<div class="card shadow mb-4">
						<!-- Card Header - Dropdown -->
						<div
							class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h6 class="m-0 font-weight-bold text-primary graph_title">연령대 별 가입자</h6>
						</div>
						<!-- Card Body -->
						<div class="card-body">
							<div class="chart-area">
								<!-- 차트 그리는 부분 -->
								<div id="donutChart_01">
								</div>
							</div>
							<!-- 범례 -->
							<div class="donutChart_01_legend">
								</br></br>
								<span>10대 : <span class="dc_01_legend_i" style="color : #58FA58;">■</span> </span>
								<span>20대 : <span class="dc_01_legend_i" style="color : #01DFD7;">■</span> </span>
								<span>30대 : <span class="dc_01_legend_i" style="color : #58ACFA;">■</span> </span>
								</br>
								<span>40대 : <span class="dc_01_legend_i" style="color : #BCA9F5;">■</span> </span>
								<span>50대 : <span class="dc_01_legend_i" style="color : #F5A9BC;">■</span> </span>
								<span>60대 이상 : <span class="dc_01_legend_i" style="color : #F7BE81;">■</span> </span>
							</div>
						</div>
					</div>
				</div>
			</div>

			

		</div>
		<!-- /.container-fluid -->


	</div>
	<!-- End of Main Content -->


</th:block>


<th:block layout:fragment="page_css">
	<link href="/admin/css/adminHome.css" rel="stylesheet">
	
	<!-- Morris js(차트) css -->
	<link href="/admin/css/morris.css" rel="stylesheet">
</th:block>

<th:block layout:fragment="page_js">
		<!-- Bootstrap core JavaScript-->
		<script src="admin/vendor/jquery/jquery.min.js"></script>

		<!-- Custom scripts for all pages-->
		<!-- navSidebar의 <- 버튼 작동을 위한  js -->
		<script src="admin/js/sb-admin-2.min.js"></script>

		
		
		<!-- Morris js(차트)를 사용하기 위한 js -->
		<script src="/admin/chart/morris.min.js"></script>
		<script src="/admin/chart/raphael.min.js"></script>
		
		<!-- 라인 차트를 그리기 위한  js -->
		<script src="/admin/js/lineChart_01.js"></script>
		
		<!-- 도넛 차트를 그리기 위한 js -->
		<script src="/admin/js/donutChart_01.js"></script>
		
		<!-- 원하는 연도의 가입자 수를 보기 위한 js-->
		<script src="/admin/js/yearSelect.js"></script>
</th:block>


</html>