<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{adminInclude/adminLayout}">
	
<th:block layout:fragment="contents">
	<!-- Begin Page Content -->
	<div class="container-fluid">
		
		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800"></h1>


		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h1 class="m-0 font-weight-bold text-primary">반려견 관리</h1>
			</div>
			<div class="card-body">
				<div class="table-responsive">

					<table class="table table-bordered" id="dataTable" width="100%"
						cellspacing="0">
						<thead>
							<tr>
								<th>아이디</th>
								<th>견주 연락처</th>
								<th>견주 이름</th>
								<th>성별</th>
								<th>반려견 등록일자</th>
								<th>등록 주소</th>
								<th>반려견 종</th>
								<th>반려견 이름</th>
								<th>반려견 소개</th>
							</tr>
						</thead>
						<tbody th:if="${dogsSearch == null}" th:each = "dogsList : ${dogsList}">
							<tr>
								<td th:text="${dogsList.user_id}"></td>
								<td th:text="${dogsList.ph_no}"></td>
								<td th:text="${dogsList.user_nm}"></td>
								
								<td th:if="${dogsList.d_gender == 1}">수컷</td>
								<td th:unless="${dogsList.d_gender == 1}">암컷</td>
								
								<td th:text="${dogsList.d_dt}"></td>
								<td th:text="${dogsList.d_addr}"></td>
								<td th:text="${dogsList.d_kind}"></td>
								<td th:text="${dogsList.d_nm}"></td>
								<td th:text="${dogsList.d_content}"></td>
							</tr>
						</tbody>
						
						<!-- 검색 할 때 사용하는 테이블 -->
						<tbody th:if="${dogsSearch != null}" th:each = "dogsList : ${dogsSearch}">
							<tr>
								<td th:text="${dogsList.user_id}"></td>
								<td th:text="${dogsList.ph_no}"></td>
								<td th:text="${dogsList.user_nm}"></td>
								
								<td th:if="${dogsList.d_gender == 1}">수컷</td>
								<td th:unless="${dogsList.d_gender == 1}">암컷</td>
								
								<td th:text="${dogsList.d_dt}"></td>
								<td th:text="${dogsList.d_addr}"></td>
								<td th:text="${dogsList.d_kind}"></td>
								<td th:text="${dogsList.d_nm}"></td>
								<td th:text="${dogsList.d_content}"></td>
							</tr>
						</tbody>
					</table>
					
					<!-- 페이징 -->
					<div class="pagination-container">
						<nav class="pagination-content">
							<div class="pagination">
								<a class="pagination-newer">PREV </a>
								
								<span class="pagination-inner" th:each="pageNum : ${pageNum}">
									<a th:id="${pageNum}" th:text="${pageNum}"></a>
								</span>
								
								<a class="pagination-older">  NEXT</a>
							</div>
						</nav>
					</div>
					<!-- 페이징 -->
					
					<!-- 검색 -->
					<div class="search">
						<div class="select">
							<select id="search-select">
								<option value="d.user_id">아이디</option>
								<option value="d.d_nm">반려견 이름</option>
								<option value="m.ph_no">견주 연락처</option>
							</select>
						</div>
						<section class="search-box">
							<div class="search-content">
								<input type="text" id="keyword" />
							</div>
							<div class="search-button">
								<button id="search" class="btn btn-primary">검색</button>
							</div>
						</section>
					</div>
					<!-- 검색 -->
					
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->


</th:block>

<!-- customerManage.html에 필요한 css 추가 설정 -->
<th:block layout:fragment="page_css">
	<!-- dogsManage.css 임포트 (서치바 가운데 정렬을 위함) -->
	<link href="/admin/css/dogsManage.css" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link href="/admin/vendor/datatables/dataTables.bootstrap4.min.css"
		rel="stylesheet">
		
	<!-- 페이징 처리후 adminHead.html에 있는 공통 css가 적용되지 않아 추가로 선언 ▼-->
	<link href="/admin/vendor/fontawesome-free/css/all.min.css"
		rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- 공통 styles for this template-->
	<link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">
	
	<!-- 페이징 처리후 adminHead.html에 있는 공통 css가 적용되지 않아 추가로 선언 ▲-->	
</th:block>
	<!-- page_js -->
	<th:block layout:fragment="page_js">
		<script src="/admin/vendor/jquery/jquery.min.js"></script>
		<script src="/admin/js/dogsManage.js"></script>
	</th:block>


</html>
