<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{adminInclude/adminLayout}">
	
<th:block layout:fragment="contents">
	<!-- Begin Page Content -->
	<div class="container-fluid">
		
		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">업체 신청 관리</h1>
		<p class="mb-4">
			DataTables is a third party plugin that is used to generate the demo
			table below. For more information about DataTables, please visit the
			<a target="_blank" href="https://datatables.net">official
				DataTables documentation</a>.
		</p>
		

		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">DataTables
					Example</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">

					
						<div>
							<input type="button" id = "accept" class ="etpCk" name="etpApplyCk" value="수락"/>
							<input type="button" id = "reject" class ="etpCk" name="etpApplyCk" value="거절"/>
						</div>
					
						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th><input type="checkbox" id="allCheck"/>전체 선택</th>
									<th>아이디</th>
									<th>이름</th>
									<th>이메일</th>
									<th>회사 대표 번호</th>
									<th>주소</th>
									<th>사업자 번호</th>
									<th>업체 명</th>
									<th>업체 소개</th>
								</tr>
							</thead>
							<tbody th:each="etpList : ${session.enterpriseList}">
								<tr>
									<td><input type="checkbox" th:value="${etpList.user_id}" name="user_id"></td>
									<td th:text="${etpList.user_id}"></td>
									<td th:text="${etpList.user_nm}"></td>
									<td th:text="${etpList.etp_email}"></td>
									<td th:text="${etpList.etp_ph_no}"></td>
									<td th:text="${etpList.etp_addr}"></td>
									<td th:text="${etpList.etp_license_no}"></td>
									<td th:text="${etpList.etp_nm}"></td>
									<td th:text="${etpList.etp_content}"></td>
								</tr>
							</tbody>
						</table>

				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->

	<!-- Bootstrap core JavaScript-->
	<script src="admin/vendor/jquery/jquery.min.js"></script>
<!-- 	<script src="admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

	<!-- Core plugin JavaScript-->
<!-- 	<script src="admin/vendor/jquery-easing/jquery.easing.min.js"></script> -->

	<!-- Custom scripts for all pages-->
<!-- 	<script src="admin/js/sb-admin-2.min.js"></script> -->

	<!-- Page level plugins -->
	<!-- 테이블 관련 js -->
<!-- 	<script src="admin/vendor/datatables/jquery.dataTables.min.js"></script> -->
<!-- 	<script src="admin/vendor/datatables/dataTables.bootstrap4.min.js"></script> -->

	<!-- Page level custom scripts -->
<!-- 	<script src="admin/js/demo/datatables-demo.js"></script> -->
	
</th:block>

<!-- customerManage.html에 필요한 css 추가 설정 -->
<th:block layout:fragment="page_css">
	<!-- Custom styles for this page -->
<!-- 	<link href="admin/vendor/datatables/dataTables.bootstrap4.min.css" -->
<!-- 		rel="stylesheet"> -->
</th:block>

	<!-- page_js -->
	<th:block layout:fragment="page_js">
		<script src="admin/js/etpManage.js"></script>
	</th:block>

</html>
