<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{adminInclude/adminLayout}">
	
<th:block layout:fragment="contents">
	<!-- Begin Page Content -->
	<div class="container-fluid">
		
		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800"></h1>

		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h1 class="m-0 font-weight-bold text-primary">업체 신청 관리</h1>
			</div>
			<div class="card-body">
				<div class="table-responsive">

					
						<div>
							<input type="button" id = "accept" class ="btn btn-primary etpCk" name="etpApplyCk" value="수락"/>
							<input type="button" id = "reject" class ="btn btn-primary etpCk" name="etpApplyCk" value="거절"/>
						</div>
					
						<table class="table table-bordered table-hover" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th><input type="checkbox" id="allCheck"/>전체 선택</th>
<!-- 									<th>업체 구분</th>									 -->
									<th>아이디</th>
									<th>이름</th>
<!-- 									<th>이메일</th> -->
<!-- 									<th>회사 대표 번호</th> -->
<!-- 									<th>주소</th> -->
<!-- 									<th>사업자 번호</th> -->
<!-- 									<th>업체 명</th> -->
<!-- 									<th>업체 소개</th> -->
									<th>휴대폰 번호</th>
									<th>신청 일시</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${etpApplySearch == null}" th:each="etpManage : ${enterpriseManage}" class="etpManage_list">
									<td><input type="checkbox" th:value="${etpManage.user_id}" name="user_id" class="checkBoxBtn"></td>
									
<!-- 									<td th:text="${etpList.etp_cd_substr}"></td>	 -->
<!-- 									<td th:if="${etpManage.etp_cd_substr == 'h'}">호텔</td> -->
<!-- 									<td th:if="${etpManage.etp_cd_substr == 'f'}">장례</td> -->
									
									<td th:text="${etpManage.user_id}"></td>					
									<td th:text="${etpManage.user_nm}"></td>
<!-- 									<td th:text="${etpManage.etp_email}"></td> -->
<!-- 									<td th:text="${etpManage.etp_ph_no}"></td> -->
<!-- 									<td th:text="${etpManage.etp_addr}"></td> -->
<!-- 									<td th:text="${etpManage.etp_license_no}"></td> -->
<!-- 									<td th:text="${etpManage.etp_nm}"></td> -->
<!-- 									<td th:text="${etpManage.etp_content}"></td> -->
									<td th:text="${etpManage.ph_no}"></td>
									<td th:text="${etpManage.etp_apply_dt}"></td>
								</tr>
							</tbody>
							
							<!-- 검색 할 때 사용하는 테이블 -->
							<tbody >
								<tr th:if="${etpApplySearch != null}" th:each="etpManage : ${etpApplySearch}" class="etpManage_list">
									<td><input type="checkbox" th:value="${etpManage.user_id}" name="user_id" class="checkBoxBtn"></td>
									
<!-- 									<td th:text="${etpList.etp_cd_substr}"></td>	 -->
<!-- 									<td th:if="${etpManage.etp_cd_substr == 'h'}">호텔</td> -->
<!-- 									<td th:if="${etpManage.etp_cd_substr == 'f'}">장례</td> -->
									
									<td th:text="${etpManage.user_id}"></td>					
									<td th:text="${etpManage.user_nm}"></td>
<!-- 									<td th:text="${etpManage.etp_email}"></td> -->
<!-- 									<td th:text="${etpManage.etp_ph_no}"></td> -->
<!-- 									<td th:text="${etpManage.etp_addr}"></td> -->
<!-- 									<td th:text="${etpManage.etp_license_no}"></td> -->
<!-- 									<td th:text="${etpManage.etp_nm}"></td> -->
<!-- 									<td th:text="${etpManage.etp_content}"></td> -->
									<td th:text="${etpManage.ph_no}"></td>
									<td th:text="${etpManage.etp_apply_dt}"></td>
								</tr>
							</tbody>
						</table>

					<!-- 페이징 -->
					<div class="pagination-container">
						<nav class="pagination-content">
							<div class="pagination">
								<a class="pagination-newer">PREV </a>
								
								<span class="pagination-inner" th:each="pageNum : ${pageNum}">
									<a th:id="${pageNum}" th:text="${pageNum}"></a>
								</span>
								
								<a class="pagination-older">  NEXT</a>
							</div>
							
						</nav>
					</div>
					<!-- 페이징 -->
					
					<!-- 검색 -->
					<div class="search">
						<div class="select">
							<select id="search-select">
								<option value="e.user_id">아이디</option>
								<option value="m.user_nm">이름</option>
								<option value="m.ph_no">휴대폰 번호</option>
							</select>
						</div>
						<section class="search-box">
							<div class="search-content">
								<input type="text" id="keyword" />
							</div>
							<div class="search-button">
								<button id="search" class="btn btn-primary">검색</button>
							</div>
						</section>
					</div>
					<!-- 검색 -->
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
	

	<!-- 팝업 창 시작 (상세정보) -->
	<div id="bP" class="bP">
		<h1>업체 상세 정보</h1>
		<hr/>
		<br>
		<div style="display: inline-block; margin-left: 70px">
		<h2>
			<span class="badge badge-dark bp_span_label">업체 구분 </span>
			<span class="etp_cd_substr"></span>
		</h2>
		<table>
		
		<tr>
		<th><h2><span class="badge badge-dark bp_span_label">업체이름</span></h2></th>
		<th><h3><span class="etp_nm"></span></h3></th>
		</tr>
		<tr>
		<td><h2><span class="badge badge-dark bp_span_label">이름</span></h2></td>
		<td><h3><span class="user_nm"></span></h3></td>
		</tr>
			
		<tr>
		<td><h2><span class="badge badge-dark bp_span_label">이메일</span></h2></td>
		<td><h3><span class="etp_email"></span></h3></td>
		</tr>
		<tr>
		<td><h2><span class="badge badge-dark bp_span_label">연락처</span></h2></td>
		<td><h3><span class="etp_ph_no"></span></h3></td>
		</tr>
		<tr>
		<td><h2><span class="badge badge-dark bp_span_label">주소</span></h2></td>
		<td><h3><span class="etp_addr"></span></h3></td>
		</tr>
		<tr>
		<td><h2><span class="badge badge-dark bp_span_label">사업자번호</span></h2></td>
		<td><h3><span class="etp_license_no"></span></h3></td>
		</tr>
		</table>
		</div>
		
		<div style="float: right; margin-right: 50px" >
		<h2><span class="badge badge-dark bp_span_label" id="ja">면허사진</span></h2>
		<img alt="" src="" id="asd" style="  width: autol; height: auto; max-width: 500px; max-height: 500px;">
		</div>
	</div>
	
</th:block>

<!-- customerManage.html에 필요한 css 추가 설정 -->
<th:block layout:fragment="page_css">
	<!-- enterpriseManage.css 임포트 (서치바 가운데 정렬을 위함) -->
	<link href="/admin/css/enterpriseManage.css" rel="stylesheet">

	<!-- 페이징 처리후 adminHead.html에 있는 공통 css가 적용되지 않아 추가로 선언 ▼-->
	<link href="/admin/vendor/fontawesome-free/css/all.min.css"
		rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- 공통 styles for this template-->
	<link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">
	<!-- 페이징 처리후 adminHead.html에 있는 공통 css가 적용되지 않아 추가로 선언 ▲-->
	
</th:block>

	<!-- page_js -->
	<th:block layout:fragment="page_js">
		<script src="/admin/vendor/jquery/jquery.min.js"></script>
		<script src="/admin/js/etpManageApply.js"></script>
		<script src="/admin/plugin/jquery.bpopup.min.js"></script>
		
	</th:block>

</html>
