<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{adminInclude/adminLayout}">
	
<th:block layout:fragment="contents">
	<!-- Begin Page Content -->
	<div class="container-fluid">
		
		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800"></h1>

		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h1 class="m-0 font-weight-bold text-primary">업체 목록</h1>
			</div>
			<div class="card-body">
				<div class="table-responsive">

					
						<div>
							<input type="button" id="delete" class="etpCk" name="etpApplyCk" value="삭제"/>
						</div>
					
						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th><input type="checkbox" id="allCheck"/>전체 선택</th>
									<th>업체 구분</th>									
									<th>아이디</th>
									<th>이름</th>
									<th>이메일</th>
									<th>회사 대표 번호</th>
									<th>주소</th>
									<th>사업자 번호</th>
									<th>업체 명</th>
<!-- 									<th>업체 소개</th> -->
									<th>휴대폰 번호</th>
									<th>등록 일시</th>
								</tr>
							</thead>
							<tbody th:if="${etpListSearch == null}" th:each="enterpriseList : ${enterpriseList}">
								<tr>
									<td><input type="checkbox" th:value="${enterpriseList.user_id}" name="user_id"></td>
									
<!-- 									<td th:text="${etpList.etp_cd_substr}"></td>	 -->
									<td th:if="${enterpriseList.etp_cd_substr == 'h'}">호텔</td>
									<td th:if="${enterpriseList.etp_cd_substr == 'f'}">장례</td>
									
									<td th:text="${enterpriseList.user_id}"></td>					
									<td th:text="${enterpriseList.user_nm}"></td>
									<td th:text="${enterpriseList.etp_email}"></td>
									<td th:text="${enterpriseList.etp_ph_no}"></td>
									<td th:text="${enterpriseList.etp_addr}"></td>
									<td th:text="${enterpriseList.etp_license_no}"></td>
									<td th:text="${enterpriseList.etp_nm}"></td>
<!-- 									<td th:text="${enterpriseList.etp_content}"></td> -->
									<td th:text="${enterpriseList.ph_no}"></td>
									<td th:text="${enterpriseList.etp_accept_dt}"></td>
								</tr>
							</tbody>
							
							<!-- 검색 할 때 사용하는 테이블 -->
							<tbody th:if="${etpListSearch != null}" th:each="enterpriseList : ${etpListSearch}">
								<tr>
									<td><input type="checkbox" th:value="${enterpriseList.user_id}" name="user_id"></td>
									
<!-- 									<td th:text="${etpList.etp_cd_substr}"></td>	 -->
									<td th:if="${enterpriseList.etp_cd_substr == 'h'}">호텔</td>
									<td th:if="${enterpriseList.etp_cd_substr == 'f'}">장례</td>
									
									<td th:text="${enterpriseList.user_id}"></td>					
									<td th:text="${enterpriseList.user_nm}"></td>
									<td th:text="${enterpriseList.etp_email}"></td>
									<td th:text="${enterpriseList.etp_ph_no}"></td>
									<td th:text="${enterpriseList.etp_addr}"></td>
									<td th:text="${enterpriseList.etp_license_no}"></td>
									<td th:text="${enterpriseList.etp_nm}"></td>
<!-- 									<td th:text="${enterpriseList.etp_content}"></td> -->
									<td th:text="${enterpriseList.ph_no}"></td>
									<td th:text="${enterpriseList.etp_accept_dt}"></td>
								</tr>
							</tbody>
						</table>

					<!-- 페이징 -->
					<div class="pagination-container">
						<nav class="pagination-content">
							<div class="pagination">
								<a class="pagination-newer">PREV </a>
								
								<span class="pagination-inner" th:each="pageNum : ${pageNum}">
									<a th:id="${pageNum}" th:text="${pageNum}"></a>
								</span>
								
								<a class="pagination-older">  NEXT</a>
							</div>
						</nav>
					</div>
					<!-- 페이징 -->
					
					<!-- 검색 -->
					<div class="search">
						<div class="select">
							<select id="search-select">
								<option value="e.user_id">아이디</option>
								<option value="e.etp_license_no">사업자 번호</option>
								<option value="e.etp_ph_no">회사 대표 번호</option>
								<option value="m.ph_no">휴대폰 번호</option>
							</select>
						</div>
						<section class="search-box">
							<div class="search-content">
								<input type="text" id="keyword" />
							</div>
							<div class="search-button">
								<button id="search">검색</button>
							</div>
						</section>
					</div>
					<!-- 검색 -->
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->

	<!-- Bootstrap core JavaScript-->
<!-- 	<script src="admin/vendor/jquery/jquery.min.js"></script> -->
<!-- 	<script src="admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

	<!-- Core plugin JavaScript-->
<!-- 	<script src="admin/vendor/jquery-easing/jquery.easing.min.js"></script> -->

	<!-- Custom scripts for all pages-->
<!-- 	<script src="admin/js/sb-admin-2.min.js"></script> -->

	<!-- Page level plugins -->
	<!-- 테이블 관련 js -->
<!-- 	<script src="admin/vendor/datatables/jquery.dataTables.min.js"></script> -->
<!-- 	<script src="admin/vendor/datatables/dataTables.bootstrap4.min.js"></script> -->

	<!-- Page level custom scripts -->
<!-- 	<script src="admin/js/demo/datatables-demo.js"></script> -->
	
</th:block>

<!-- customerManage.html에 필요한 css 추가 설정 -->
<th:block layout:fragment="page_css">
	<!-- enterpriseManage.css 임포트 (서치바 가운데 정렬을 위함) -->
	<link href="/admin/css/enterpriseList.css" rel="stylesheet">

	<!-- 페이징 처리후 adminHead.html에 있는 공통 css가 적용되지 않아 추가로 선언 ▼-->
	<link href="/admin/vendor/fontawesome-free/css/all.min.css"
		rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- 공통 styles for this template-->
	<link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">
	<!-- 페이징 처리후 adminHead.html에 있는 공통 css가 적용되지 않아 추가로 선언 ▲-->
	
</th:block>

	<!-- page_js -->
	<th:block layout:fragment="page_js">
		<script src="/admin/vendor/jquery/jquery.min.js"></script>
		<script src="/admin/js/enterpriseList.js"></script>
	</th:block>

</html>
