<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">

<!-- 공통 메타 태그 -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">



<!-- 개별 설정 : 각 .html파일에서 아래의 태그들을 선언하고 태그안에 내용을 적어주면 됨-->
<th:block layout:fragment="page_head"></th:block>
<th:block layout:fragment="page_lib"></th:block>
<th:block layout:fragment="page_css"></th:block>
<th:block layout:fragment="page_js"></th:block>


<!-- 공통 설정(css, js등) -->
<!--  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->



<!-- 공통 fonts for this template-->
<link href="admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- 공통 styles for this template-->
<link href="admin/css/sb-admin-2.min.css" rel="stylesheet">


</head>
</html>