<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body th:fragment="body" id="page-top">
	
	<div id="wrapper">
		<!-- 좌측 네비게이션 바 -->
		<th:block th:include="adminInclude/adminNavSide" />
		
		<!-- content안에 상단 네비게이션, 내용, footer가 포함 되어 있음 -->
		<div id="content">
			<!-- 상단 네비게이션 바 -->
			<th:block th:include="adminInclude/adminNavHeader" />

			<!-- 페이지 별 내용 들어갈 부분 -->
			<th:block layout:fragment="contents"></th:block>
			
			<!-- footer(하단 고정) -->
			<th:block th:include="adminInclude/adminFooter" />
		</div>	
	</div>
</body>
</html>