
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/layout">

<th:block layout:fragment="page_head">
	<title>서비스 메뉴에 오신것을 환영합니다.</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" href="assets/css/page/hospital/hospital_list.css">
	<link rel="stylesheet" href="assets/css/page/page.css">
</th:block>

<th:block layout:fragment="page_js">
	<script>
		$(function() {
			var selectTarget = $('.selectbox select');

			// focus 가 되었을 때와 focus 를 잃었을 때
			selectTarget.on({
				'focus' : function() {
					$(this).parent().addClass('focus');
				},
				'blur' : function() {
					$(this).parent().removeClass('focus');
				}
			});

			selectTarget.change(function() {
				var select_name = $(this).children('option:selected').text();
				$(this).siblings('label').text(select_name);
				$(this).parent().removeClass('focus');
			});
		});
	</script>
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4a48583017e20736b9b82bdaf3c09cc7"></script>
</th:block>

<th:block layout:fragment="contents">
	<div id="main1">
	<div id="selectpo">
			<div class="selectbox">
				<label for="select">정렬순서</label> <select id="select">
					<option selected>거리순</option>
					<option>추천순</option>
					<option>리뷰순</option>
					<option>내마음순</option>
				</select>
			</div>
			</div>
	<div id="main1-1">틀</div>
	<div id="main1-2">
			<div class="listbox1"><!--리스트 시작  -->
					<div class="listbox2">
					<div id="imgbox1">
					<div id="img1">	<img src="http://placehold.it/200x200" alt="" id="imgbox" >	</div>
					</div>
						<div id="context">
						<div>
							<div><h2>동물병원</h2>	</div>
							<div>대구광역시 북구 침산로 153 명성푸르지오</div>
							<div>053)153-5135</div>
							<div>리뷰</div>
							</div>
							</div>
							
							<div id="context1">
							<div >
							<div>진료시간</div>
							<div>오전10시~ 오후 9시까지</div>
							<div>토 일 공휴일  쉼</div>
						</div>
						</div>	
						</div>
			</div><!--끝  -->
		
			<div class="listbox1"><!--리스트 시작  -->
					<div class="listbox2">
					<div id="imgbox1">
					<div id="img1">	<img src="http://placehold.it/200x200" alt="" id="imgbox" >	</div>
					</div>
						<div id="context">
						<div>
							<div><h2>동물병원</h2>	</div>
							<div>대구광역시 북구 침산로 153 명성푸르지오</div>
							<div>053)153-5135</div>
							<div>리뷰</div>
							</div>
							</div>
							
							<div id="context1">
							<div >
							<div>진료시간</div>
							<div>오전10시~ 오후 9시까지</div>
							<div>토 일 공휴일  쉼</div>
						</div>
						</div>	
						</div>
			</div><!--끝  -->
			
				<div class="listbox1"><!--리스트 시작  -->
					<div class="listbox2">
					<div id="imgbox1">
					<div id="img1">	<img src="http://placehold.it/200x200" alt="" id="imgbox" >	</div>
					</div>
						<div id="context">
						<div>
							<div><h2>동물병원</h2>	</div>
							<div>대구광역시 북구 침산로 153 명성푸르지오</div>
							<div>053)153-5135</div>
							<div>리뷰</div>
							</div>
							</div>
							
							<div id="context1">
							<div >
							<div>진료시간</div>
							<div>오전10시~ 오후 9시까지</div>
							<div>토 일 공휴일  쉼</div>
						</div>
						</div>	
						</div>
			</div><!--끝  -->
			
				<div class="listbox1"><!--리스트 시작  -->
					<div class="listbox2">
					<div id="imgbox1">
					<div id="img1">	<img src="http://placehold.it/200x200" alt="" id="imgbox" >	</div>
					</div>
						<div id="context">
						<div>
							<div><h2>동물병원</h2>	</div>
							<div>대구광역시 북구 침산로 153 명성푸르지오</div>
							<div>053)153-5135</div>
							<div>리뷰</div>
							</div>
							</div>
							
							<div id="context1">
							<div >
							<div>진료시간</div>
							<div>오전10시~ 오후 9시까지</div>
							<div>토 일 공휴일  쉼</div>
						</div>
						</div>	
						</div>
			</div><!--끝  -->
			
				<div class="listbox1"><!--리스트 시작  -->
					<div class="listbox2">
					<div id="imgbox1">
					<div id="img1">	<img src="http://placehold.it/200x200" alt="" id="imgbox" >	</div>
					</div>
						<div id="context">
						<div>
							<div><h2>동물병원</h2>	</div>
							<div>대구광역시 북구 침산로 153 명성푸르지오</div>
							<div>053)153-5135</div>
							<div>리뷰</div>
							</div>
							</div>
							
							<div id="context1">
							<div >
							<div>진료시간</div>
							<div>오전10시~ 오후 9시까지</div>
							<div>토 일 공휴일  쉼</div>
						</div>
						</div>	
						</div>
			</div><!--끝  -->
			
				<div class="listbox1"><!--리스트 시작  -->
					<div class="listbox2">
					<div id="imgbox1">
					<div id="img1">	<img src="http://placehold.it/200x200" alt="" id="imgbox" >	</div>
					</div>
						<div id="context">
						<div>
							<div><h2>동물병원</h2>	</div>
							<div>대구광역시 북구 침산로 153 명성푸르지오</div>
							<div>053)153-5135</div>
							<div>리뷰</div>
							</div>
							</div>
							
							<div id="context1">
							<div >
							<div>진료시간</div>
							<div>오전10시~ 오후 9시까지</div>
							<div>토 일 공휴일  쉼</div>
						</div>
						</div>	
						</div>
			</div><!--끝  -->
			
				<div class="listbox1"><!--리스트 시작  -->
					<div class="listbox2">
					<div id="imgbox1">
					<div id="img1">	<img src="http://placehold.it/200x200" alt="" id="imgbox" >	</div>
					</div>
						<div id="context">
						<div>
							<div><h2>동물병원</h2>	</div>
							<div>대구광역시 북구 침산로 153 명성푸르지오</div>
							<div>053)153-5135</div>
							<div>리뷰</div>
							</div>
							</div>
							
							<div id="context1">
							<div >
							<div>진료시간</div>
							<div>오전10시~ 오후 9시까지</div>
							<div>토 일 공휴일  쉼</div>
						</div>
						</div>	
						</div>
			</div><!--끝  -->
			
			
		</div>
	</div>
	
</th:block>

</html>