<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/serviceLayout">

<th:block layout:fragment="page_head">
	<title>서비스 메뉴에 오신것을 환영합니다.</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" href="assets/css/page/hospital/hospital_list.css">
	<link rel="stylesheet" href="assets/css/page/page.css">
</th:block>

<th:block layout:fragment="page_js">
<script src="assets/js/hospitaljs/hospitaljs.js"></script>

</th:block>

<th:block layout:fragment="contents">
	<div id="main1">
		<div id="sear">
			<div>
				<input type="search" id="searchbar">
				<div id=sear2>
					<div id="searchlist">
						<div id="titlearea">
							<h3>자주 찾는 지역</h3>
						</div>
						<ul id="arealist">
							<li><div>
									<span>서울</span>
								</div></li>
							<li><div>
									<span>인천</span>
								</div></li>
							<li><div>
									<span>여수</span>
								</div></li>
							<li><div>
									<span>대구</span>
								</div></li>
							<li><div>
									<span>강릉</span>
								</div></li>
							<li><div>
									<span>전주</span>
								</div></li>
							<li><div>
									<span>대전</span>
								</div></li>
							<li><div>
									<span>통영</span>
								</div></li>
							<li><div>
									<span>남해</span>
								</div></li>
							<li><div>
									<span>거제</span>
								</div></li>
							<li><div>
									<span>광주</span>
								</div></li>
							<li><div>
									<span>울산</span>
								</div></li>
							<li><div>
									<span>수원</span>
								</div></li>
							<li><div>
									<span>평창</span>
								</div></li>
							<li><div>
									<span>춘천</span>
								</div></li>
							<li><div>
									<span>가명</span>
								</div></li>
							<li><div>
									<span>태안</span>
								</div></li>
							<li><div>
									<span>제주도</span>
								</div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="main1-1">
			<div class="selectbox">
				<label for="select">정렬순서</label> <select id="select">
					<option selected>거리순</option>
					<option>추천순</option>
					<option>리뷰순</option>
					<option>내마음순</option>
				</select>
			</div>
		</div>
			<div id="main1-2">
				
			</div>
	</div>
				

</th:block>

</html>