<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{uploadInclude/uploadLayout}">
<!-- 투개더 업로드 register페이지 -->
<th:block layout:fragment="page_head">
	<title>투개더 업로드 홈페이지</title>
</th:block>


<!-- 홈페이지 내용 -->
<th:block layout:fragment="contents">


	
					<div class="form-group uploadDiv">
						<input type="file" name='uploadFile' multiple>
					</div>

					<div class='uploadResult'>
						<ul>

						</ul>
					</div>

					<div>
						<input type="button" value="등록하기" class="regiBtn">
					</div>


</th:block>

<!-- css 넣을거-->
<style>
.uploadResult {
	width: 100%;
	background-color: pink;
}

.uploadResult ul {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

.uploadResult ul li {
	list-style: none;
	padding: 10px;
}

.uploadResult ul li img {
	width: 100px;
}

.bigPictureWrapper {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: pink;
	z-index: 100;
}

.bigPicture {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
</style>
</th:block>


<!-- js 넣을거-->
<th:block layout:fragment="page_js">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
<!-- 첨부파일 관련 기본동작 막는거 -->
<script>
	$(document).ready(function(e) {
		
		//이게 뭘까
		var formObj = $("form[role='form']");
		//이게 뭘까
		/*
		$("button[type='submit']").on("click", function(e) {
			alert("제발 나와라예 나와라요");
			e.preventDefault();
			console.log("submit clicked");
			
			var str="";
			$(".uploadResult ul li").each(function(i, obj) {
				var jobj = $(obj);
				
				console.dir(jboj);
				
				str += "<input type='hidden' name='attachList["+i+"].fileName' value='"+jobj.data("filename")+"'>";
			      str += "<input type='hidden' name='attachList["+i+"].uuid' value='"+jobj.data("uuid")+"'>";
			      str += "<input type='hidden' name='attachList["+i+"].uploadPath' value='"+jobj.data("path")+"'>";
			      str += "<input type='hidden' name='attachList["+i+"].fileType' value='"+ jobj.data("type")+"'>";
			});  //end of $uploadResult ul li").each
			
			formObj.append(str).submit();
		}); //end of button click
		*/
		//파일 확장자,사이즈 제한 
		var regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
		var maxSize = 5242880; //5MB
		
		function checkExtension(fileName, fileSize) {
			if(fileSize>=maxSize) {
				alert("파일 사이즈 초과");
				return false;
			}
			
			if(regex.test(fileName)) {
				alert("해당 종류의 파일은 업로드할 수 없습니다.");
				return false;
			}
			return true;
		}//end of checkExtension function
		//파일 확장자,사이즈 제한 
		
			$("input[type='file']").change(function(e) {
				var formData = new FormData();
				
				var inputFile = $("input[name='uploadFile']");
				var files = inputFile[0].files;
				
				for(var i=0; i<files.length; i++) {
					if(!checkExtension(files[i].name, files[i].size)) {
						return false;
					}//end of if
					formData.append("uploadFile", files[i]);
				}//end of for
				
				$(".regiBtn").click(function() {
					alert("ㅇㅇ? ㅇㅋ");
					$.ajax({
						url:'/uploadAjaxAction',
						processData:false,
						contentType:false,
						data:formData,
						type:'POST',
						dataType:'json',
						success: function(result) {
							showUploadResult(result); //업로드 결과 처리 함수
						}
					}); //end of ajax

				});//end of regiBtn
				function showUploadResult(uploadResultArr) {
					if(!uploadResultArr || uploadResultArr.length==0) {return;}
					
					var uploadUL = $(".uploadResult ul");
					
					var str="";
					
					$(uploadResultArr).each(function(e, obj) {
						//image type
						 
						if(obj.image){
							//이미지면 이거
							var fileCallPath =  encodeURIComponent( obj.uploadPath+ "/s_"+obj.uuid +"_"+obj.fileName);
							str += "<li data-path='"+obj.uploadPath+"'";
							str +=" data-uuid='"+obj.uuid+"' data-filename='"+obj.fileName+"' data-type='"+obj.image+"'"
							str +" ><div>";
							str += "<span> "+ obj.fileName+"</span>";
							str += "<button type='button' data-file=\'"+fileCallPath+"\' "
							str += "data-type='image' class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>";
							//str += "<img src='/ex05/display?fileName="+fileCallPath+"'>"; <- 원본
							str += "<img src='/display?fileName="+fileCallPath+"'>";
							str += "</div>";
							str +"</li>";
							
						}else{
							//이미지 아니면 이거
							var fileCallPath =  encodeURIComponent( obj.uploadPath+"/"+ obj.uuid +"_"+obj.fileName);			      
						    var fileLink = fileCallPath.replace(new RegExp(/\\/g),"/");
						      
							str += "<li "
							str += "data-path='"+obj.uploadPath+"' data-uuid='"+obj.uuid+"' data-filename='"+obj.fileName+"' data-type='"+obj.image+"' ><div>";
							str += "<span> "+ obj.fileName+"</span>";
							str += "<button type='button' data-file=\'"+fileCallPath+"\' data-type='file' " 
							str += "class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>";
											//'/ex05/resources/img/attach.png'></a>"; <-원본
							str += "<img src='/resources/img/attach.png'></a>";
							str += "</div>";
							str +"</li>";
						}
							
						
					}); //end of uploadResultArr.each
					
					uploadUL.append(str);
				}//end of showUploadResult function
				
				
				
				
			});// end of change

	});//end of document.ready
</script>
</th:block>


</html>