@charset "UTF-8";




@media screen and (max-width: 426px) {


	
	#map{
		margin-top : 20%;
		width:100%;
		height:400px;
	}
	
	#menu_wrap{
		
		margin-top : 5%;
	}
	
	#placeList{
		overflow : scroll;
		height : 100px;
	}
	
	.scroller{
		overflow: scroll; 
		height : 130px;
	}
	.itemList{
		width : 100%;
		height : 200px;
	}
	
}