
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/layout">

<th:block layout:fragment="page_head">
	<title>상세 페이지</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" href="assets/css/page/hotel/hotel_info.css">
	 
</th:block>

<th:block layout:fragment="page_js">
<!-- 	<script src="assets/js/hotel.js"></script> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script type="text/javascript">

  function onFitSizeOfTextArea()

      {

          var textArea = event.srcElement;

          while( textArea.clientHeight < textArea.scrollHeight )

          {

              textArea.rows = textArea.rows + 1;

          }

          textArea.className = "NoScroll";

      }

  </script>

</th:block>

<th:block layout:fragment="contents" scroll="no">
	<div class="container1">

	<div class="gallery">

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?w=500&h=500&fit=crop" alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop" alt="sunset behind San Francisco city skyline">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1506045412240-22980140a405?w=500&h=500&fit=crop" alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1514041181368-bca62cceffcd?w=500&h=500&fit=crop" alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1445810694374-0a94739e4a03?w=500&h=500&fit=crop" alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1486334803289-1623f249dd1e?w=500&h=500&fit=crop" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
		</div>
	</div>
</div>
		
		
<!-- 목록 리스트 출력 란 -->		


<div class="container1-2" th:each="info : ${session.info}">
      <div class="header clearfix" th:if="${info} != null">
        <h1 class="text-muted" th:text="${info.etp_nm}"></h1> <!-- 업체이름 -->
      </div>

      <div class="row">
        <div class="col-sm-12">
          <p class="lead">정보 소개</p>
          <p th:text="${info.etp_if_info}"></p>
          
<!--           <form class="form-horizontal"> -->
<!--             <div class="form-group"> -->
<!--               <label for="type" class="col-sm-5 control-label">I'd like to ride</label>    -->
<!--               <div class="col-sm-5"> -->
<!--                 <select name="type" id="type" class="form-control"> -->
<!--                   <option>--Select your ride--</option> -->
<!--                   <option value="animals">Animal</option> -->
<!--                   <option value="vehicles">Vehicle</option> -->
<!--                 </select> -->
<!--               </div> -->
<!--             </div> -->
<!--             <div class="form-group"> -->
<!--               <label for="subtype" class="col-sm-5 control-label">More specifically</label>        -->
<!--               <div class="col-sm-5"> -->
<!--                 <select name="subtype" id="subtype"  class="form-control"> -->
<!--                     <option>-- Select type first--</option> -->
<!--                 </select> -->
<!--               </div> -->
<!--             </div>          -->
<!--           </form>         -->
      
        </div>
      </div>
      
      <hr>
      
      <div class = "info_main">
      	<p>상세 정보</p>
      	<pre th:text="${info.etp_if_intro}"></pre>
      </div>
      
      <hr>
      <div class = "product">
      <p>상품 목록</p>
      </div>
      <hr>
      
      <div class="row marketing">
        <div class="col-lg-6">
          <h4><span class="glyphicon glyphicon-cloud-download"></span> 대표 </h4>
          <p th:text="${info.user_nm}"></p>
         
          <h4><span class="glyphicon glyphicon-thumbs-up"></span> 사업자 번호</h4>
          <p th:text="${info.etp_license_no}"></p>
        </div>

        <div class="col-lg-6">
          <h4><span class="glyphicon glyphicon-eye-open"></span>대표 번호</h4>
          <p th:text="${info.etp_ph_no}"></p>

          <h4><span class="glyphicon glyphicon-ok"></span> 이메일 </h4>
          <p th:text="${info.etp_email}"></p>


        </div>
      </div>


    </div> <!-- /container -->
		
		
	

</th:block>