
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/serviceLayout">

<th:block layout:fragment="page_head">
	<title>맵 탐색</title>
</th:block>

<th:block layout:fragment="page_css">
	  <link rel="stylesheet" href="assets/css/page/hotel/hotelserch.css">
	  <link rel="stylesheet" href="assets/css/page/hotel.css">
</th:block>

<th:block layout:fragment="page_js">
  <script src="assets/js/hotel_place/hotel_info.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=590c0507631ccb4fcce21f0b5d9bb6a7&libraries=services,clusterer,drawing"></script>
<script>
//마커를 담을 배열입니다
var markers = [];

var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new daum.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
        level: 5 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new daum.maps.Map(mapContainer, mapOption); 

//지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
var zoomControl = new daum.maps.ZoomControl();
map.addControl(zoomControl, daum.maps.ControlPosition.RIGHT);

//주소-좌표 변환 객체를 생성합니다
var geocoder = new daum.maps.services.Geocoder();

//주소값을 받아옵니다
var map_name = $("#map_name").text();

var map_test = $("#main1-2").children("div.listbox1").find("span.ok").text();

var map_address = map_test.split(".");

console.log(map_address);




//현재 내 위치 찍어주는 API //
//HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
if (navigator.geolocation) {
  
  // GeoLocation을 이용해서 접속 위치를 얻어옵니다
  navigator.geolocation.getCurrentPosition(function(position) {
      
      var lat = position.coords.latitude, // 위도
          lon = position.coords.longitude; // 경도
      
      var locPosition = new daum.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
          message = '<div style="padding:5px;">현위치</div>'; // 인포윈도우에 표시될 내용입니다
      
      // 마커와 인포윈도우를 표시합니다
      displayMarker(locPosition, message);
          
    });
  
} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
  
  var locPosition = new daum.maps.LatLng(33.450701, 126.570667),    
      message = 'geolocation을 사용할수 없어요..'
      
  displayMarker(locPosition, message);
}

//지도에 마커와 인포윈도우를 표시하는 함수입니다
function displayMarker(locPosition, message) {

	var imageSrc = 'https://image.flaticon.com/icons/svg/252/252025.svg', // 마커이미지의 주소입니다    
	imageSize = new daum.maps.Size(30, 40), // 마커이미지의 크기입니다
	imageOption = {offset: new daum.maps.Point(30, 40)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
		
	
	var markerImage = new daum.maps.MarkerImage(imageSrc, imageSize, imageOption);
  // 마커를 생성합니다
  var marker = new daum.maps.Marker({  
      map: map, 
      position: locPosition,
      image: markerImage
  }); 
  
  var iwContent = message, // 인포윈도우에 표시할 내용
      iwRemoveable = true;

  // 인포윈도우를 생성합니다
  var infowindow = new daum.maps.InfoWindow({
      content : iwContent,
      removable : iwRemoveable
  });
  
  // 인포윈도우를 마커위에 표시합니다 
  infowindow.open(map, marker);
  
  // 지도 중심좌표를 접속위치로 변경합니다
  map.setCenter(locPosition);
}    









//업체 정보를 지도에 마커형태로 찍어주는 함수
for(var i=0; i<map_address.length; i++){
// 주소로 좌표를 검색합니다
		geocoder.addressSearch(map_address[i], function(result, status) {
	
	    // 정상적으로 검색이 완료됐으면 
	     if (status === daum.maps.services.Status.OK) {
	
	        var coords = new daum.maps.LatLng(result[0].y, result[0].x);
	
	        // 결과값으로 받은 위치를 마커로 표시합니다
	        var marker = new daum.maps.Marker({
	            map: map,
	            position: coords
	        });
	
	        // 인포윈도우로 장소에 대한 설명을 표시합니다
	        var infowindow = new daum.maps.InfoWindow({
	            content: '<div style="width:150px;text-align:center;padding:6px 0;">'+map_name+'</div>'
	        });
	        infowindow.open(map, marker);
	
	        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
// 	        map.setCenter(coords);
	       
	  	  } 
	 
		});
		
}




 

 
 
// 검색결과 클릭시 주소값을 반환해 주는 구문
$(document).ready(function(){
	
	
	
	
// 	$('#placesList').on('click', 'span',function(){
// 		alert("선택됬음");
// 		var a = $(this).parent().children().eq(1).text();
		
// 		console.log(a);
// 		var address = { address : a }
			
// 			$.ajax({
// 				type: "POST", 
// 				url: "hotel_box",      // 클라이언트가 요청을 보낼 서버의 URL 주소
// 				data: address,     	 // HTTP 요청과 함께 서버로 보낼 데이터
// 				dataType: "text",       // 서버에서 보내줄 데이터의 타입
// 				success: function(data){
// 				    if(data != null){
// 				    	location.href = "/hotel";
// 				    }else{
// 				    	alert("검색결과가 없습니다");
// 				    }
// 				}
// 			});
		
// 	});
	
});

</script>
</th:block>

<th:block layout:fragment="contents">
<div class="total_div">
<div id="main1">
		

		<div id="main1-1">
			<div class="selectbox">
			<input type="text" value=""><input type="submit" value="검색">
				<label for="select">정렬순서</label> <select id="select">
					<option selected>거리순</option>
					<option>추천순</option>
					<option>리뷰순</option>
					<option>내마음순</option>
				</select>
				
			</div>
		</div>
		
		
				<div id="main1-2">
					<div class="listbox1" th:each ="list : ${session.list_enterprise}">
						
						<!--리스트 시작  -->
							<div class="listbox2">
									<div id="imgbox1">
										<div id="img1">
											<img src="http://placehold.it/200x200" alt="" id="imgbox">
										</div>
									</div>
													
													
										<div class="context">
											<div>
												<div>
													<h3 style="display:none"th:text="${list.etp_cd}"></h3>
													<h2 id="map_name" th:text ="${list.etp_nm}"></h2>
												</div>
												<span class="ok" id="addd" th:text ="${list.etp_addr} + '.'" th:value="${list.etp_addr}"></span>
												<div th:text ="${list.etp_ph_no}"></div>
												<span th:text ="${list.etp_content}"></span>
											</div>
										</div>
		
		
												<div id="context1">
													<div>
														<div>진료시간</div>
														<div>오전10시~ 오후 9시까지</div>
														<div>토 일 공휴일 쉼</div>
													</div>
												
												</div>
		
						</div>
		
					</div>
		
				</div>
		</div>
	
<!-- 아래 지도 페이지 -->
			<div class="map_wrap">
			    <div id="map"></div>
			
				<p id="result"></p>
			    <div id="menu_wrap" class="bg_white">
			        <div class="option">
			            <div>
<!-- 			                <form onsubmit="searchPlaces(); return false;"> -->
<!-- 			                    주소검색 : <input type="text" th:value="${place}" id="keyword" size="15"> -->
			                    
<!-- 			                    <button type="submit">검색하기</button>  -->
<!-- 			                </form> -->
			                
			            </div>
			           
			        </div>
			     
			        <div class="scroller">
			        <div id="placesList">
			        
			        </div>
			        </div>
			        <div id="pagination">
			        
			        </div>
			        
			    </div>
			</div>
	</div>	

</th:block>

</html>