
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/serviceLayout">

<th:block layout:fragment="page_head">
	<title>상세 페이지</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" href="assets/css/page/hotel/hotel_info.css">
	 
</th:block>

<th:block layout:fragment="page_js">
<!-- 	<script src="assets/js/hotel.js"></script> -->
<!--   <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bPopup/0.11.0/jquery.bpopup.js"></script><!-- 팝업창 스크립트  -->
  
  
  <script>
  	$(document).ready(function(){
  		var count = 0;
  			$('.drop_top').on('click',function(){
  		
  			if(count == 0){
	  			$( ".foo" ).animate({
	  			    height: "300px"
	  			  }, 1000 );
		  			
		  			count = count + 1;
  			}		  			
  			else if(count == 1){
	  			$( ".foo" ).animate({
	  	  			    height: "60px"
	  	  		}, 1000 );
	  			count = count - 1;
  			}
  		});
  			
  			
  			$('.product_order_list').on('click',function(){
  				
  				var pro_nm = $(this).find('span').eq(0).text();
  				var pro_price = $(this).find('span').eq(1).text();
  				var pro_cont = $(this).find('span').eq(2).text();
  				
  				$('#pnm').text(pro_nm);
  				$('#ppri').text(pro_price);
  				$('#pcon').text(pro_cont);
  				
  			
  				$ ('#popup').bPopup({
  					follow : [false,false],
  					positionStyle : 'fixed'
  					
  				});
  				
  			});
  			
	  			$('#btn_close').on('click',function(){
	  				$ ('#popup').bPopup().close();
	  			});
	  			
	  			
	  			
	  			
	  			
	  			
				//상품 구매가 가능한지 조회하는 버튼 테스트용
	  			$(function(){
	  			    $('.suc').on('DOMSubtreeModified propertychange', function() {
	  			    	
	  			    	$('.check_room').text("");
	  			    	var fir = $('#first_day').text();
	  	  	  			var las = $('#second_day').text();
	  	  	  			
	  	  	  			var code = $('.code').text();
	  	  	  			var content = $('#pcon').text();
	  	  	  			var p_nm = $('#pnm').text();
	  	  	  			var sub_fir = fir.substr(5,5);
	  	  	  			var sub_las = las.substr(5,5);
	  	  	  			console.log(sub_las);
	  	  	  			$.ajax({
	  						url : "/join",
	  						type: "POST",
	  						dataType : 'json',
	  						data : {sub_fir,sub_las,content,p_nm,code},
	  						success : function(data){
	  							
	  							console.log(data);
	  							if(data.length == 0){
	  								$('.check_room').text("예약가능");
	  							}else if(data != "fail"){
	  								for(var i=0; i<data.length; i++){
	  									$('.check_room').append('<span>' +data[i].substr(3,5) + "일의 방이 모두 소진되었습니다." + '</span><br/>');	
	  								}
	  														
	  							}

	  							
	  						}
	  					
	  	  	  			});

	  			    });
	  			});

	  		


			
  			//상품 추가 버튼
  		  $('#add_btn').on('click',function(){
  			 
  			 if($('.check_room').text() == "예약가능"){ 
  			var a = $('#first_day').text();
  			var b = $('#second_day').text();
  			var c = $('#total_day').text();
  			var cmin = Number(c) - 1;
  			var d = $('#pnm').text();
  			var e = $('#ppri').text();
  			var f = $('#pcon').text();
  			var g = $('#total_price').text();
  			$('#form_test').append('<div class="list_num">'+'<span class="first_day">' + a + 
  									'</span>' + '~' + '<span class="last_day">' + b + '</span>' + 
  									'// 총일수 ' + cmin + '박' + 
  									'<span class="num2">' + '<label class="d">'+c+'</label>' + '일' +'</span>' +'// 상품명 ' +'<span class="nm">'+ d +'</span>'+ 
  									'// 가격 ' + '<span class="num">' + '<label class="n">'+e+'</label>' + '원' + '</span>' + 
  									'// 상품설명 ' + f +  '</div>');
  			
  			var price_list = $('.num').text().split('원');
  			var day_list = $('.num2').text().split('일');
  			var sum = 0;
  			for(var i=0; i<price_list.length-1; i++){
  			sum = Number(price_list[i]) * Number(day_list[i]) + sum;
  			}
  			$('#top_total_price').text("총가격 : " + sum + "KRW");
  			$ ('#popup').bPopup().close(); 
  			 }else{
  				 alert("예약이 불가능한 날이 포함되어 있습니다. 다시선택해 주세요!");
  			 }
  		  });
  		  
  		  
  		  $('#sel').on('click',function(){
  			  //insert 필요한 내용  
  			  // 1. 예약 날짜의 첫날 ~ 마지막날
  			  // 2. 몇박 몇일인지 일수 계산해서 가격 계산
  			  // 3. 상품명
  			  // 4. 어떤 유저가 주문햇는지
  			  // 5. 그유저의 핸드폰번호
  			  // 6. 그상품의 가격
  			  
  			  //1
  			  var test = $('.code').text();
  			  var form_len = $('#form_test').children(); // 추가된 상품의 갯수
  			  
  			  var array = []; // 배열 변수 선언
  			  
  			  for(var i=0; i<form_len.length; i++){
  			  var Obj = {}; // 오브젝트 변수 선언과 동시에 초기화
  			  Obj.etp_cd = test;
  			  Obj.pd_nm = form_len.eq(i).find('.nm').text();
  			  Obj.first = form_len.eq(i).find('.first_day').text();
  			  Obj.last = form_len.eq(i).find('.last_day').text();
  			  Obj.num = form_len.eq(i).find('.num2').find('label').text();
  			  Obj.price = form_len.eq(i).find('.num').find('label').text();
  			  array.push(Obj); // 한번 반복될때 정렬된 obj 값 배열 에 하나씩 넣어주기
  			  }
  			  
  			  console.log(array);
  			  
  			
			$.ajax({
				type : "POST",
				url : "/buy_book",
				data : JSON.stringify(array),
				contentType:"application/json;charset=UTF-8",
		        traditional:true,
				success : function(data){
					if(data == "success"){
						if (confirm("이용해 주셔서 감사합니다. 지금바로 리뷰를 작성하시겠습니까?")) {
			                 	location.href = "/hotelReview"
			             } else {
			                 // no click
			            	 window.location.reload();
			             }
						
					}else{
						alert("오류가 발생하여 예약이 되지 않았습니다.");
					}
					
				}
			});
  			  
  			  console.log(array);

  		  });
  			
  			
  	});
  	
  	//달력을 그리는 script문
  	$( document ).ready(function() {
		function c(passed_month, passed_year, calNum) {
			var calendar = calNum == 0 ? calendars.cal1 : calendars.cal2;
			makeWeek(calendar.weekline);
			calendar.datesBody.empty();
			var calMonthArray = makeMonthArray(passed_month, passed_year);
			var r = 0;
			var u = false;
			while(!u) {
				if(daysArray[r] == calMonthArray[0].weekday) { u = true } 
				else { 
					calendar.datesBody.append('<div class="blank"></div>');
					r++;
				}
			} 
			for(var cell=0;cell<42-r;cell++) { // 42 date-cells in calendar
				if(cell >= calMonthArray.length) {
					calendar.datesBody.append('<div class="blank"></div>');
				} else {
					var shownDate = calMonthArray[cell].day;
					// Later refactiroing -- iter_date not needed after "today" is found
					var iter_date = new Date(passed_year,passed_month,shownDate); 
					if ( 
						(
							( shownDate != today.getDate() && passed_month == today.getMonth() ) 
							|| passed_month != today.getMonth()
						) 
							&& iter_date < today) {						
						var m = '<div class="past-date">';
					} else {
						var m = checkToday(iter_date)?'<div class="today">':"<div>";
					}
					calendar.datesBody.append(m + shownDate + "</div>");
				}
			}

			// var color = o[passed_month];
			calendar.calHeader.find("h2").text(passed_year+"년 "+i[passed_month]);
						//.css("background-color",color)
						//.find("h2").text(i[passed_month]+" "+year);

			// find elements (dates) to be clicked on each time
			// the calendar is generated
			
			//clickedElement = bothCals.find(".calendar_content").find("div");
			var clicked = false;
			selectDates(selected);
			
			clickedElement = calendar.datesBody.find('div');
			clickedElement.on("click", function(){
				clicked = $(this);
				if (clicked.hasClass('past-date')) { return; }
				var whichCalendar = calendar.name;
				console.log(whichCalendar);
				
				// Understading which element was clicked;
				// var parentClass = $(this).parent().parent().attr('class');
				if (firstClick && secondClick) {
					thirdClicked = getClickedInfo(clicked, calendar);
					var firstClickDateObj = new Date(firstClicked.year, 
												firstClicked.month, 
												firstClicked.date);
					var secondClickDateObj = new Date(secondClicked.year, 
												secondClicked.month, 
												secondClicked.date);
					var thirdClickDateObj = new Date(thirdClicked.year, 
												thirdClicked.month, 
												thirdClicked.date);
					if (secondClickDateObj > thirdClickDateObj
						&& thirdClickDateObj > firstClickDateObj) {
						secondClicked = thirdClicked;
						// then choose dates again from the start :)
						bothCals.find(".calendar_content").find("div").each(function(){
							$(this).removeClass("selected");
						});
						selected = {};
						selected[firstClicked.year] = {};
						selected[firstClicked.year][firstClicked.month] = [firstClicked.date];
						selected = addChosenDates(firstClicked, secondClicked, selected);
					} else { // reset clicks
						selected = {};
						firstClicked = [];
						secondClicked = [];
						firstClick = false;
						secondClick = false;
						bothCals.find(".calendar_content").find("div").each(function(){
							$(this).removeClass("selected");
						});	
					}
				}
				if (!firstClick) {
					firstClick = true;
					firstClicked = getClickedInfo(clicked, calendar);
					selected[firstClicked.year] = {};
					selected[firstClicked.year][firstClicked.month] = [firstClicked.date];
				} else {
					console.log('second click');
					secondClick = true;
					secondClicked = getClickedInfo(clicked, calendar);
					//console.log(secondClicked);

					// what if second clicked date is before the first clicked?
					var firstClickDateObj = new Date(firstClicked.year, 
												firstClicked.month, 
												firstClicked.date);
					var secondClickDateObj = new Date(secondClicked.year, 
												secondClicked.month, 
												secondClicked.date);

					if (firstClickDateObj > secondClickDateObj) {

						var cachedClickedInfo = secondClicked;
						secondClicked = firstClicked;
						firstClicked = cachedClickedInfo;
						selected = {};
						selected[firstClicked.year] = {};
						selected[firstClicked.year][firstClicked.month] = [firstClicked.date];

					} else if (firstClickDateObj.getTime() ==
								secondClickDateObj.getTime()) {
						selected = {};
						firstClicked = [];
						secondClicked = [];
						firstClick = false;
						secondClick = false;
						$(this).removeClass("selected");
					}


					// add between dates to [selected]
					selected = addChosenDates(firstClicked, secondClicked, selected);
				}
// 				console.log(selected);
				
				
				selectDates(selected);
				
				
				var select_year = Object.keys(selected)[0];
				var DataArray = Object.values(selected[select_year]); //날짜배열

				var first_Day = DataArray[0][0]; //첫번째날
				
				var second_Day_reverse = DataArray[0].reverse();
				var second_Day = second_Day_reverse[0];
				
				if(DataArray[1] != null){
				var two_clarendar = DataArray[1].reverse()[0];
				var second_Total_Date = DataArray[1].length; //두 번째 달력 총날짜
				}

				var Total_Date = DataArray[0].length; // 총 날짜
				
				

				var year = passed_year; //현재 년도
				var month = passed_month + 1; // 선택 달
				var month2 = month - 1;
				
				
				if(second_Total_Date != null){
				document.getElementById('total_day').innerHTML = Total_Date + second_Total_Date;
				}else{
					document.getElementById('total_day').innerHTML = Total_Date;
				}

				if(two_clarendar == null){
				document.getElementById('first_day').innerHTML = year + "-" + month + "-" + first_Day;
				document.getElementById('second_day').innerHTML = year + "-" + month + "-" + second_Day;
				}else{
				document.getElementById('first_day').innerHTML = year + "-" + month2 + "-" + first_Day;
				document.getElementById('second_day').innerHTML = year + "-" + month + "-" + two_clarendar;
				}
				
				
				
				var T_day = parseInt(document.getElementById('total_day').innerHTML);
				var price = parseInt(document.getElementById('ppri').innerHTML);
				document.getElementById('total_price').innerHTML = T_day * price;
				
			});			

		}
		

		
		
		function selectDates(selected) {
			if (!$.isEmptyObject(selected)) {
				var dateElements1 = datesBody1.find('div');
				var dateElements2 = datesBody2.find('div');

				function highlightDates(passed_year, passed_month, dateElements){
					if (passed_year in selected && passed_month in selected[passed_year]) {
						var daysToCompare = selected[passed_year][passed_month];
						// console.log(daysToCompare);
						for (var d in daysToCompare) {
							dateElements.each(function(index) {
								if (parseInt($(this).text()) == daysToCompare[d]) {
									$(this).addClass('selected');
								}
							});	
						}
						
					}
				}

				highlightDates(year, month, dateElements1);
				highlightDates(nextYear, nextMonth, dateElements2);
			}
		}

		function makeMonthArray(passed_month, passed_year) { // creates Array specifying dates and weekdays
			var e=[];
			for(var r=1;r<getDaysInMonth(passed_year, passed_month)+1;r++) {
				e.push({day: r,
						// Later refactor -- weekday needed only for first week
						weekday: daysArray[getWeekdayNum(passed_year,passed_month,r)]
					});
			}
			return e;
		}
		function makeWeek(week) {
			week.empty();
			for(var e=0;e<7;e++) { 
				week.append("<div>"+daysArray[e].substring(0,3)+"</div>") 
			}
		}

		function getDaysInMonth(currentYear,currentMon) {
			return(new Date(currentYear,currentMon+1,0)).getDate();
		}
		function getWeekdayNum(e,t,n) {
			return(new Date(e,t,n)).getDay();
		}
		function checkToday(e) {
			var todayDate = today.getFullYear()+'/'+(today.getMonth()+1)+'/'+today.getDate();
			var checkingDate = e.getFullYear()+'/'+(e.getMonth()+1)+'/'+e.getDate();
			return todayDate==checkingDate;

		}
		function getAdjacentMonth(curr_month, curr_year, direction) {
			var theNextMonth;
			var theNextYear;
			if (direction == "next") {
				theNextMonth = (curr_month + 1) % 12;
				theNextYear = (curr_month == 11) ? curr_year + 1 : curr_year;
			} else {
				theNextMonth = (curr_month == 0) ? 11 : curr_month - 1;
				theNextYear = (curr_month == 0) ? curr_year - 1 : curr_year;
			}
			return [theNextMonth, theNextYear];
		}
		function b() {
			today = new Date;
			year = today.getFullYear();
			month = today.getMonth();
			var nextDates = getAdjacentMonth(month, year, "next");
			nextMonth = nextDates[0];
			nextYear = nextDates[1];
		}

		var e=480;

		var today;
		var year,
			month,
			nextMonth,
			nextYear;

		//var t=2013;
		//var n=9;
		var r = [];
		var i = ["1월","2월","3월","4월","5월",
				"6월","7월","8월","9월","10월",
				"11월","12월"];
		var daysArray = ["일요일","월요일","화요일",
						"수요일","목요일","금요일","토요일"];
		var o = ["#16a085","#1abc9c","#c0392b","#27ae60",
				"#FF6860","#f39c12","#f1c40f","#e67e22",
				"#2ecc71","#e74c3c","#d35400","#2c3e50"];
		
		var cal1=$("#calendar_first");
		var calHeader1=cal1.find(".calendar_header");
		var weekline1=cal1.find(".calendar_weekdays");
		var datesBody1=cal1.find(".calendar_content");

		var cal2=$("#calendar_second");
		var calHeader2=cal2.find(".calendar_header");
		var weekline2=cal2.find(".calendar_weekdays");
		var datesBody2=cal2.find(".calendar_content");

		var bothCals = $(".calendar");

		var switchButton = bothCals.find(".calendar_header").find('.switch-month');

		var calendars = { 
						"cal1": { 	"name": "first",
									"calHeader": calHeader1,
									"weekline": weekline1,
									"datesBody": datesBody1 },
						"cal2": { 	"name": "second",
									"calHeader": calHeader2,
									"weekline": weekline2,
									"datesBody": datesBody2	}
						}
		

		var clickedElement;
		var firstClicked,
			secondClicked,
			thirdClicked;
		var firstClick = false;
		var secondClick = false;	
		var selected = {};

		b();
		c(month, year, 0);
		c(nextMonth, nextYear, 1);
		switchButton.on("click",function() {
			var clicked=$(this);
			var generateCalendars = function(e) {
				var nextDatesFirst = getAdjacentMonth(month, year, e);
				var nextDatesSecond = getAdjacentMonth(nextMonth, nextYear, e);
				month = nextDatesFirst[0];
				year = nextDatesFirst[1];
				nextMonth = nextDatesSecond[0];
				nextYear = nextDatesSecond[1];

				c(month, year, 0);
				c(nextMonth, nextYear, 1);
			};
			if(clicked.attr("class").indexOf("left")!=-1) { 
				generateCalendars("previous");
			} else { generateCalendars("next"); }
			clickedElement = bothCals.find(".calendar_content").find("div");
			console.log("checking");
		});


		//  Click picking stuff
		function getClickedInfo(element, calendar) {
			var clickedInfo = {};
			var clickedCalendar,
				clickedMonth,
				clickedYear;
			clickedCalendar = calendar.name;
			//console.log(element.parent().parent().attr('class'));
			clickedMonth = clickedCalendar == "first" ? month : nextMonth;
			clickedYear = clickedCalendar == "first" ? year : nextYear;
			clickedInfo = {"calNum": clickedCalendar,
							"date": parseInt(element.text()),
							"month": clickedMonth,
							"year": clickedYear}
			//console.log(clickedInfo);
			return clickedInfo;
		}


		// Finding between dates MADNESS. Needs refactoring and smartening up :)
		function addChosenDates(firstClicked, secondClicked, selected) {
			if (secondClicked.date > firstClicked.date || 
				secondClicked.month > firstClicked.month ||
				secondClicked.year > firstClicked.year) {

				var added_year = secondClicked.year;
				var added_month = secondClicked.month;
				var added_date = secondClicked.date;
				console.log(selected);

				if (added_year > firstClicked.year) {	
					// first add all dates from all months of Second-Clicked-Year
					selected[added_year] = {};
					selected[added_year][added_month] = [];
					for (var i = 1; 
						i <= secondClicked.date;
						i++) {
						selected[added_year][added_month].push(i);
					}
			
					added_month = added_month - 1;
					console.log(added_month);
					while (added_month >= 0) {
						selected[added_year][added_month] = [];
						for (var i = 1; 
							i <= getDaysInMonth(added_year, added_month);
							i++) {
							selected[added_year][added_month].push(i);
						}
						added_month = added_month - 1;
					}

					added_year = added_year - 1;
					added_month = 11; // reset month to Dec because we decreased year
					added_date = getDaysInMonth(added_year, added_month); // reset date as well

					// Now add all dates from all months of inbetween years
					while (added_year > firstClicked.year) {
						selected[added_year] = {};
						for (var i=0; i < 12; i++) {
							selected[added_year][i] = [];
							for (var d = 1; d <= getDaysInMonth(added_year, i); d++) {
								selected[added_year][i].push(d);
							}
						}
						added_year = added_year - 1;
					}
				}
				
				if (added_month > firstClicked.month) {
					if (firstClicked.year == secondClicked.year) {
						console.log("here is the month:",added_month);
						selected[added_year][added_month] = [];
						for (var i = 1; 
							i <= secondClicked.date;
							i++) {
							selected[added_year][added_month].push(i);
						}
						added_month = added_month - 1;
					}
					while (added_month > firstClicked.month) {
						selected[added_year][added_month] = [];
						for (var i = 1; 
							i <= getDaysInMonth(added_year, added_month);
							i++) {
							selected[added_year][added_month].push(i);
						}
						added_month = added_month - 1;
					}
					added_date = getDaysInMonth(added_year, added_month);
				}

				for (var i = firstClicked.date + 1; 
					i <= added_date;
					i++) {
					selected[added_year][added_month].push(i);
				}
			}
			return selected;
		}
});
  	
  </script>
</th:block>

<th:block layout:fragment="contents" scroll="no">
	<div class="container1">

	<div class="gallery">

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?w=500&h=500&fit=crop" alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop" alt="sunset behind San Francisco city skyline">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1506045412240-22980140a405?w=500&h=500&fit=crop" alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1514041181368-bca62cceffcd?w=500&h=500&fit=crop" alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1445810694374-0a94739e4a03?w=500&h=500&fit=crop" alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1486334803289-1623f249dd1e?w=500&h=500&fit=crop" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
		</div>
	</div>
</div>
		
		
<!-- 목록 리스트 출력 란 -->		

<div class="container1-2" th:each="info : ${session.info}">
      <div class="header clearfix" th:if="${info} != null">
        <h1 class="text-muted" th:text="${info.etp_nm}"></h1> <!-- 업체이름 -->
      </div>

      <div class="row">
        <div class="col-sm-12">
          <p class="lead">정보 소개</p>
          <p th:text="${info.etp_if_info}"></p>
          <p style="display:none" class="code" th:text="${info.etp_cd}"></p>

      
        </div>
      </div>
      
      <hr>
      
      <div class = "info_main">
      	<p>상세 정보</p>
      	<pre th:text="${info.etp_if_intro}"></pre>
      </div>
      
      <hr>
  
      <div class = "product">
      <p>상품 목록</p>
      
     	<div th:each =" pro : ${session.product}">
     		<button class="product_order_list">
     		<span th:text="${pro.pd_nm}"></span><br/>
     		<span th:text="${pro.pd_price}"></span><br/>
     		<span th:text="${pro.pd_content}"></span>
     		</button>
     	</div>
     	
     	
     	<!-- 여기서 부터 팝업창  -->
     	<div id="popup" class="Pstyle">	
		
		
		
		
<div class="calendar-section">
        <div class="row">

          <div class="col-sm-6">

            <div class="calendar calendar-first" id="calendar_first">
              <div class="calendar_header">
                <button class="switch-month switch-left">
                  	이전
                </button>
                <h2></h2>
                <button class="switch-month switch-right">
                  
                </button>
              </div>
              <div class="calendar_weekdays"></div>
              <div class="calendar_content"></div>
            </div>

          </div>
          <div class="col-sm-6">

            <div class="calendar calendar-second" id="calendar_second">
              <div class="calendar_header">
                <button class="switch-month switch-left">
                  	
                </button>
                <h2></h2>
                <button class="switch-month switch-right">
                  	다음
                </button>
              </div>
              <div class="calendar_weekdays"></div>
              <div class="calendar_content"></div>
            </div>            

          </div>

        </div> <!-- End Row -->
            
</div> <!-- End Calendar -->

<div id="de_ch_total">
	<!-- 날짜 폼 -->
	<div class="def">
		<span>시작일 : <label id="first_day"></label></span><br/>
		<span>종료일 : <label id="second_day" class="suc" onchange="second_change()"></label></span><br/>
		<span>총 일수 : <label id="total_day"></label></span><br/>
		<span>상품명 : <label id ="pnm"></label></span><br/>
		<span>상품가격 : <label id = "ppri"></label></span><br/>
		<span>상품정보 : <label id = "pcon"></label></span><br/>
		<span>총가격 : <label id = "total_price"></label></span>
		
	</div>
			<!-- 오른쪽 되는지 안되는지 change값 -->
				<div class="change">
					<span class="check_room"></span>
				</div>

</div>		
			<div class="Btndiv">
			<input type="button" id="btn_close" value="닫 기">
			<input type="button" id="add_btn" value = "추가">
			</div>
			
</div>
		
			

			<hr>
   </div>   
      <div class="row marketing">
        <div class="col-lg-6">
          <h4><span class="glyphicon glyphicon-cloud-download"></span> 대표 </h4>
          <p th:text="${info.user_nm}"></p>
         
          <h4><span class="glyphicon glyphicon-thumbs-up"></span> 사업자 번호</h4>
          <p th:text="${info.etp_license_no}"></p>
        </div>

        <div class="col-lg-6">
          <h4><span class="glyphicon glyphicon-eye-open"></span>대표 번호</h4>
          <p th:text="${info.etp_ph_no}"></p>

          <h4><span class="glyphicon glyphicon-ok"></span> 이메일 </h4>
          <p th:text="${info.etp_email}"></p>


        </div>
      </div>


    </div> <!-- /container -->
		
	<footer class="foo">
		<div class="top-list">
			<button class="drop_top"><img src="assets/img/hotel/square-box-outline.svg"></button>
			<div id="top_total_price" style="float:left; margin-left : 100px; color:black;">
				
			</div>
			<div class="footer_first">
			<button id="sel" class="btn btn-info book_buy">예약하기</button>
			</div>
		</div>
		
		<div style="color:black" id="form_test">
		
		</div>
		
	</footer>
	

</th:block>