<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/serviceLayout">

<th:block layout:fragment="page_head">
	<title>아늑한 공간 펫호텔 서비스에 오신것을 환영합니다.</title>
</th:block>

<th:block layout:fragment="page_css">
	 <link rel="stylesheet" href="assets/css/page/hotel.css">
	 
</th:block>

<th:block layout:fragment="page_js">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</th:block>

<th:block layout:fragment="contents">

 
	<div class="total-div">
			<div class="left-div">
			
				<div class="address-mm">
				주소부분
				</div>
				<br/>
				<br/>
				<br/>
				<div class="test">
					<div id="cal1" class="to1">
					<label for="from" class="la">체크인</label>
					<input type="date" id="from" name="from" class="in">
					</div>

					<div id="cal2" class="to1">
					<label for="to" class="la">체크아웃</label>
					<input type="date" id="to" name="to" class="in">
					</div>
				</div>
				
			</div>
			
			<div class="right-div">
			
				<div class="top-bar">
					<div class="move1">
						(Total업체 갯수 가 들어옴)
					</div>
				 
					 <div class="move2">
					 <input type="radio" id="topic" class="set" name="1">인기순
					 <input type="radio" id="distance" class="set" name="1">거리순
					 <input type="radio" id="avg" class="set" name="1">평점순
					 </div>
				</div>
				<div class="list-bar">
					<div class="company_list_img">
						<img src="http://placehold.it/150x200">
						
					</div>
					<div class="company_list">
						<label>업체이름</label><br/>
						<textarea>업체 소개</textarea>
						<label>수정용</label>
					</div>
				</div>
				
			</div>

	</div>
	</th:block>
	
	  

</html>