<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/serviceLayout">

	<th:block layout:fragment="page_head">
		<title>추모소</title>
	</th:block>
	
	
	<th:block layout:fragment="page_js">
	</th:block>
	
	<th:block layout:fragment="contents">
	
	sadsdfsdfsdf
	
	</th:block>
	
	
	
	<!-- 내용 -->
	<th:block layout:fragment="contents">
		
		
	</th:block>

</html>