<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/layout">

<th:block layout:fragment="page_head">
	<title>서비스 메뉴에 오신것을 환영합니다.</title>
</th:block>

<th:block layout:fragment="page_css">
	 <link rel="stylesheet" href="assets/css/page/page.css">
</th:block>

<th:block layout:fragment="page_js">

</th:block>

<th:block layout:fragment="contents">
	
	<section class="mainmaue" id="sec">
	<div class="total">

				<div class="serv2" >
					<div class="m1" style="float:left; border:1px solid black; width: 23%;" >
						<div>
						호텔
					 	<a href="hotel"><img src="http://placehold.it/300x200"></a>
					 	</div> 
					
					</div>
					
					
					<div class="m2" style="float:left; border:1px solid black; width: 23%;">
					<div>
						병원
						<a href="hospital"><img src="http://placehold.it/300x200"></a>
						</div>					
					</div>
					
					
					<div class="m3" style="float:left; border:1px solid black; width: 23%;">
						굿바이	
						<a href="goodbye1"><img src="http://placehold.it/300x200"></a>
					</div>
					
					
					<div class="m4" style="float:left; border:1px solid black; width: 23%;">
						추모소
						<a href="goodbye2"><img src="http://placehold.it/300x200"></a>
					</div>
				</div>
				
				<div class="serv1">
					<input type="text" id="address" class="ar" value=""/>
					<button id="btn1">주소찾기</button>
				</div>
				
				<div class="serv3">
					<div class="i1" style="float:left; border:1px solid black; width: 70%;" >
						<div>
					 	<img src="http://placehold.it/1100x200">
					 	</div> 
					</div>
				</div>
		
	</div>	
	</section>
</th:block>

</html>

