<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/serviceLayout">

<th:block layout:fragment="page_head">
	<title>굿바이펫 (업체)</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" href="assets/css/page/goodbye1/goodbye1_home.css">
</th:block>

<th:block layout:fragment="page_js">

</th:block>

<th:block layout:fragment="contents">

<div class="test">
	굿바이펫 업체 페이지
</div>

</th:block>

</html>