<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/serviceLayout">

<th:block layout:fragment="page_head">
	<title>굿바이펫 (업체)</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet"
		href="assets/css/page/goodbye1/goodbye1_home.css">
</th:block>


<th:block layout:fragment="page_js">
	<!-- 클릭 이벤트 js -->
	<script>
		$(document).ready(function() {
			$('.enterpriseinfo').click(function() {
				alert("enterpriseinfo div를 클릭하셨습니다. css 활성화");
			});
		});
	</script>
	<!-- 클릭 이벤트 js -->
	
	<!-- 스크립틔 -->
	<script src="assets/js/hotel.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=590c0507631ccb4fcce21f0b5d9bb6a7&libraries=services,clusterer,drawing"></script>
</th:block>


<th:block layout:fragment="contents">
	<br>
	<br>
	<div class="test">
		굿바이펫 업체 페이지 <br>
	</div>
	
	
	<!-- 지도 표시 -->
	<div class="map" onclick="mapserch()">지도
		<img src="https://simg.pstatic.net/onetile/get/200/0/0/7/123/70/bl_vc_bg/ol_vc_an" />
	</div>
	<!-- 지도 표시 -->
	
	<div class="enterpriseinfo">
		여기에 업체 정보 넣을거임
	</div>
	
	<!-- 상세정보 띄우기 -->
	<div class="hideenterpriseinfo">
		여기에 상세정보 띄울거임
	</div>
	<!-- 상세정보 띄우기 -->
</th:block>

</html>