<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/layout">

<th:block layout:fragment="page_head">
	<title>업체 신청 페이지</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" href="etpApply/css/etpApply.css">
</th:block>

<th:block layout:fragment="page_js">
	 
</th:block>

<th:block layout:fragment="contents">

		<form action="/etpApply" method="post">
			<label>
				업체 선택 :
				<input type="radio" name="cd" value="h" checked="checked">호텔
				<input type="radio" name="cd" value="f">장례
			</label>
			<br/><br/>
			
			<label th:if="${session.user != null}" style="display: none;">
				<input th:value="${session.user.user_id}" name="user_id">
			</label>
			
			
			<label>
				<p>업체 이름</p>
				<input type="text" id="etp_nm" name="etp_nm"/>
			</label>
			<br/>
			
			<label>
				<p>사업자 번호</p>
				<input type="text" id="etp_license_no" name="etp_license_no">
			</label>
			<br/>
			
			<label>
				<p>업체 대표 번호</p>
				<input type="text" id="etp_ph_no" name="etp_ph_no">
			</label>
			<br/>
			
			<label>
				<p>업체 주소</p>
				<input type="text" id="etp_addr" name="etp_addr">
			</label>
			<br/>
			
			<label>
				<p>업체 이메일</p>
				<input type="text" id="etp_email" name="etp_email">
			</label>
			<br/>
			
			<label>
				<p>업체 소개</p>
				<textarea id="etp_content" name="etp_content"></textarea>
			</label>
			<br/>
			
			<label>
				<input type="submit" value="신청">
			</label>
		</form>

</th:block>
</html>