<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/layout">

<th:block layout:fragment="page_head">
	<title>업체 신청 페이지</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" href="etpApply/css/etpApply.css">
</th:block>

<th:block layout:fragment="page_js">
	 <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	 <script>
	 function address_code() {
		    new daum.Postcode({
		        oncomplete: function(data) {
		            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

		            // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
		            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
		            var roadAddr = data.roadAddress; // 도로명 주소 변수
		            var extraRoadAddr = ''; // 참고 항목 변수

		            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
		            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
		            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
		                extraRoadAddr += data.bname;
		            }
		            // 건물명이 있고, 공동주택일 경우 추가한다.
		            if(data.buildingName !== '' && data.apartment === 'Y'){
		               extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
		            }
		            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
		            if(extraRoadAddr !== ''){
		                extraRoadAddr = ' (' + extraRoadAddr + ')';
		            }

		            // 우편번호와 주소 정보를 해당 필드에 넣는다.
//		            document.getElementById('sample4_postcode').value = data.zonecode;
		            document.getElementById("etp_addr").value = roadAddr;
//		            document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
		            
		            // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
// 		            if(roadAddr !== ''){
// 		                document.getElementById("addr_simple").value = extraRoadAddr;
// 		            } else {
// 		                document.getElementById("addr_simple").value = '';
// 		            }

//		            var guideTextBox = document.getElementById("guide");
		            // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
//		            if(data.autoRoadAddress) {
//		                var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
//		                guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
//		                guideTextBox.style.display = 'block';
		//
//		            } else if(data.autoJibunAddress) {
//		                var expJibunAddr = data.autoJibunAddress;
//		                guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
//		                guideTextBox.style.display = 'block';
//		            } else {
//		                guideTextBox.innerHTML = '';
//		                guideTextBox.style.display = 'none';
//		            }
		        }
		    }).open();
		}
	 
// 	 $(document).reday(function(){
// 		 $("#sub").on('click',function(){
// 			 alert("신청이 완료되었습니다 홈 화면으로 이동합니다. 신청은 3~7일정도 소요됩니다.");
// 		 });
// 	 });
	 </script>
</th:block>

<th:block layout:fragment="contents">

		<form action="/etpApply" method="post">

		<!-- 업체 선택 -->
		<div class="form-label-group selectETP_div">
			<h1>업체 선택 : </h1>
			<label class= "selectETP">
				<h3>호텔</h3>
				<input class="form-control" type="radio" name="cd" value="h" checked="checked" />
			</label>
			
			<label class= "selectETP">
				<h3>장례</h3>
				<input class="form-control" type="radio" name="cd" value="f" />
			</label>
			
			<label class= "selectETP">
				<h3>병원</h3>
				<input class="form-control" type="radio" name="cd" value="d" />
			</label>
		</div> <!-- 업체 선택 END -->
		
		<br/>
		
		<label th:if="${session.user != null}" style="display: none;">
				<input th:value="${session.user.user_id}" name="user_id">
			</label>
			
			
			<label>
				<p>업체 이름</p>
				<input type="text" id="etp_nm" name="etp_nm"/>
			</label>
			<br/>
			
			<label>
				<p>사업자 번호</p>
				<input type="text" id="etp_license_no" name="etp_license_no">
			</label>
			<br/>
			
			<label>
				<p>업체 대표 번호</p>
				<input type="text" id="etp_ph_no" name="etp_ph_no">
			</label>
			<br/>
			
			<label>
				<p>업체 주소</p>
				<input type="text" id="etp_addr" name="etp_addr" placeholder="우편번호 검색을 해주세요" onclick="address_code()"><br>
				<input type="text" id="etp_addr2" placeholder="상세주소"><br>
				
			</label>
			<br/>
			
			<label>
				<p>업체 이메일</p>
				<input type="text" id="etp_email" name="etp_email">
			</label>
			<br/>
			
			<label>
				<p>업체 소개</p>
				<textarea id="etp_content" name="etp_content"></textarea>
			</label>
			<br/>
			
			<label>
				<input type="submit" value="신청" id="sub">
			</label>
		</form>

</th:block>
</html>