<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.together.mapper.AdminMapper">

	<!--  select시 셀렉트문  insert시 태그를 각자 맞는 sql문을 쓴다 -->
		
	<!-- 관리자 홈페이지 : "생년월일 + 숫자"를 가져오는 sql문 -->
	<select id="memberAge" resultType="com.together.domain.MemberVO">
	<![CDATA[
	with
	age as(
	select
	case
	when substr(birth_dt,7,7) = 1 or substr(birth_dt,7,7) = 2
	then to_number(to_char(sysdate, 'yyyy')) - to_number(concat('19', substr(birth_dt,1,2)))
	
	when substr(birth_dt,7,7) = 3 or substr(birth_dt,7,7) = 4
	then to_number(to_char(sysdate, 'yyyy')) - to_number(concat('20', substr(birth_dt,1,2)))
	
	end as result
	from member)

	select count(case when trunc(result/10,0)=1 then 1 else null end) as "age_10",
	    count(case when trunc(result/10,0)=2 then 1 else null end) as "age_20",
	    count(case when trunc(result/10,0)=3 then 1 else null end) as "age_30",
	    count(case when trunc(result/10,0)=4 then 1 else null end) as "age_40",
    	count(case when trunc(result/10,0)=5 then 1 else null end) as "age_50",
	    count(case when trunc(result/10,0)>=6 then 1 else null end) as "age_60_over"
    
	from age
	]]>
	</select>
	
	
	<!-- 관리자 홈페이지 : 총 회원수를 보여주는 sql문 -->
	<select id="memberCnt" resultType="int">
	<![CDATA[
	select count(*) 
	from member
	where user_id not in('admin')
	]]>
	</select>
	
	<!-- 관리자 홈페이지 : 업체 신청 수를 보여주는 sql문 -->
	<select id="etpApplyCnt" resultType="int">
	<![CDATA[
	select count(*)
	from member m, enterprise e
	where m.user_id = e.user_id and m.authority_no = 3
	]]>
	</select>
	
	<!-- 관리자 홈페이지 : 반려견 수를 보여주는 sql문 -->
	<select id="dogsCnt" resultType="int">
	<![CDATA[
	select count(*)
	from dogs
	]]>
	</select>
	
	<!-- 관리자 홈페이지 : 등록 된 업체 수를 보여주는 sql문 -->
	<select id="etpCnt" resultType="int">
	<![CDATA[
	select count(*)
	from member m, enterprise e
	where m.user_id = e.user_id and m.authority_no = 2
	]]>
	</select>
	
	
	<!-- 관리자 홈페이지 : 월 별 가입자 수를 보여주는 sql문 -->
	<select id="monthMemberCnt" resultType="com.together.domain.MemberVO">
	<![CDATA[
	select count(*) as count, to_char(register_dt, 'YYYY-MM') as month
	from member
	where register_dt like #{year}||'%'
	group by to_char(register_dt, 'YYYY-MM')
	order by month
	]]>
	</select>
	
	<!-- 업체 신청 관리 페이징을 위한 sql문 추가 -->
	<select id="enterpriseManage" resultType="com.together.domain.EnterpriseVO" parameterType="com.together.domain.Paging">
	<![CDATA[
	select x.rnum, x.*
	from(
    	select rownum as rnum, A.*
    	from(
        	select m.ph_no, m.user_nm, m.authority_no, substr(e.etp_cd, 1,1) as etp_cd_substr, e.etp_email, e.user_id, e.etp_addr, e.etp_ph_no, e.etp_license_no, e.etp_nm, e.etp_content, e.etp_apply_dt
        	from member m, enterprise e
        	where m.user_id = e.user_id and m.authority_no = 3
        	order by e.etp_apply_dt
    	) A
    	where rownum < ${endNum}
	) x
	where x.rnum >= ${startNum}
	]]>
	</select>
	
	
	<!-- 반려견 페이징을 위한 sql문 추가 -->
	<select id="dogsList" resultType="com.together.domain.DogsVO" parameterType="com.together.domain.Paging">
	<![CDATA[
	select x.rnum, x.*
	from (
    	select rownum as rnum, A.*
        	from (select d.user_id, m.user_nm, m.ph_no, d.d_gender, d.d_dt, d.d_addr, d.d_kind, d.d_nm, d.d_content
            	from dogs d, member m where d.user_id = m.user_id
            	order by d.d_dt DESC
        	) A
            	where rownum < ${endNum}
	) x
	where x.rnum >= ${startNum}
	]]>
	</select>
	
	<!-- 관리자가 업체 신청 수락시 수행될 sql문 추가 -->
	<update id="etpApplyManage_01" parameterType="com.together.domain.MemberVO">
	update member
	set authority_no = 2
	where user_id = #{user_id}
	</update>
	
	<!-- 관리자가 업체 신청 거절시 수행될 sql문 추가 -->
	<delete id="etpApplyManage_02" parameterType="com.together.domain.EnterpriseVO">
	delete from enterprise
	where user_id = #{user_id}
	</delete>
	
	<!-- 관리자가 업체 신청 수락 시 수락일시가 추가 되는 sql문 추가  -->
	<update id="etpApplyManage_03" parameterType="com.together.domain.EnterpriseVO">
	update enterprise
	set etp_accept_dt = sysdate
	where user_id = #{user_id}
	</update>
	
	
	<!-- 관리자가 업체 삭제시 수행될 sql문 추가 -->
	<update id="etpListDelete" parameterType="com.together.domain.MemberVO">
	update member
	set authority_no = 3
	where user_id = #{user_id}
	</update>
	
	<!-- 회원관리 페이징을 위한 sql문 추가 -->
	<select id="memberList" resultType="com.together.domain.MemberVO" parameterType="com.together.domain.Paging">
	<![CDATA[
		select x.rnum, x.*
		from (select rownum as rnum, A.*
    	from (	select *
    			from member
    			order by REGISTER_DT DESC) A
    	where rownum < ${endNum}
		) x
		where x.rnum >= ${startNum}	
	]]>
	</select>
	
	<!-- 업체 리스트 페이징을 위한 sql문 추가-->
	<select id="enterpriseList" resultType="com.together.domain.EtpListVO" parameterType="com.together.domain.EtpListVO">
	<![CDATA[
		select x.rnum, x.*
		from (select rownum as rnum, A.*
    	from (select e.*, substr(e.etp_cd, 1,1) as etp_cd_substr,  m.password, m.ph_no, m.email, m.user_nm, m.register_dt, m.authority_no, m.birth_dt, m.sign_no, m.addr_ji, m.addr_dong
				from enterprise e, member m
				where e.user_id = m.user_id and m.authority_no = 2
				order by e.etp_accept_dt) A
    	where rownum < ${endNum}
		) x
		where x.rnum >= ${startNum}	
	]]>
	</select>
	
	<!-- 회원관리 페이지 넘버를 계산하기 위해 사용하는 sql문 -->
	<select id="memberPageNum" resultType="int">
		select count(*) from member
	</select>
	
	<!-- 반려견 관리 페이지 넘버를 계산하기 위해 사용하는 sql문 -->
	<select id="dogsPageNum" resultType="int">
		select count(*) from dogs
	</select>
	
	<!-- 업체 신청 관리 페이지 넘버를 계산하기 위해 사용하는 sql문 -->
	<select id="etpPageNum" resultType="int">
	<![CDATA[
	select count(*)
	from member m, enterprise e
	where m.user_id = e.user_id and m.authority_no = 3
	]]>
	</select>
	
	<!-- 업치 리스트 페이지 넘버를 계산하기 위해 사용하는 sql문 -->
	<select id="etpListPageNum" resultType="int">
	<![CDATA[
	select count(*)
	from enterprise e, member m
	where e.user_id = m.user_id and m.authority_no = 2
	]]>
	</select>
	
	<!-- 회원관리 검색을 위해 사용하는 sql문 -->
	<select id="memberSearch" resultType="com.together.domain.MemberVO">
	<![CDATA[
	select * from member
	where ${searchType} like '%' || '${keyword}' || '%'
	order by user_nm
	]]>
	</select>
	
	<!-- 회원정보 검색 결과 -->
	<select id="memberSearchResult" resultType="com.together.domain.MemberVO" parameterType="map">
	<![CDATA[
	select x.rnum, x.*
	from (select rownum as rnum, before_ord.*
    	from (select * from member where ${Search.searchType}
    	like '%' || '${Search.keyword}' || '%' order by user_nm) before_ord
    		where rownum < #{Paging.endNum}) x
	where x.rnum >= #{Paging.startNum}
	order by x.user_nm
	]]>
	</select>
	
	<!-- 반려견 관리 검색을 위해 사용하는 sql문 -->
	<select id="dogsSearch" resultType="com.together.domain.DogsVO">
	<![CDATA[
	select m.ph_no, m.user_nm, d.user_id, d.d_gender, d.d_dt, d.d_addr, d.d_kind, d.d_nm, d.d_content
	from member m, dogs d
	where m.user_id = d.user_id and ${searchType} like '%' || '${keyword}' || '%'
	order by d.user_id
	]]>
	</select>
	
	<!-- 반려견 정보 검색 결과 -->
	<select id="dogsSearchResult" resultType="com.together.domain.DogsVO">
	<![CDATA[
	select x.rnum, x.*
	from (select rownum as rnum, before_ord.*
    	from (select m.ph_no, m.user_nm, d.user_id, d.d_gender, d.d_dt, d.d_addr, d.d_kind, d.d_nm, d.d_content
    	from member m, dogs d
    	where m.user_id = d.user_id and
    	${Search.searchType} like '%' || '${Search.keyword}' || '%') before_ord
    		where rownum < #{Paging.endNum}) x
	where x.rnum >= #{Paging.startNum}
	order by x.user_id
	]]>
	</select>
	
	
	<!-- 업체신청 관리 검색을 위해 사용하는 sql문 -->
	<select id="etpApplySearch" resultType="com.together.domain.EnterpriseVO">
	<![CDATA[
	select m.ph_no, m.user_nm, m.authority_no, substr(e.etp_cd, 1,1) as etp_cd_substr, e.etp_email, e.user_id, e.etp_addr, e.etp_ph_no, e.etp_license_no, e.etp_nm, e.etp_content
	from member m, enterprise e
	where m.user_id = e.user_id and m.authority_no = 3 and ${searchType} like '%' || '${keyword}' || '%'
	order by e.user_id
	]]>
	

	</select>
	
	<!-- 업체신청 검색 결과 -->
	<select id="etpApplySearchResult" resultType="com.together.domain.EnterpriseVO">
	<![CDATA[
	select x.rnum, x.*
	from (select rownum as rnum, before_ord.*
    	from (select m.ph_no, m.user_nm, m.authority_no, substr(e.etp_cd, 1,1) as etp_cd_substr, e.etp_email, e.user_id, e.etp_addr, e.etp_ph_no, e.etp_license_no, e.etp_nm, e.etp_content
    	from member m, enterprise e
    	where m.user_id = e.user_id and m.authority_no = 3 and ${Search.searchType} like '%' || '${Search.keyword}' || '%') before_ord
    		where rownum < #{Paging.endNum}) x
	where x.rnum >= #{Paging.startNum}
	order by x.user_id
	]]>
	</select>
	
	<!-- 업체 리스트 검색을 위해 사용하는 sql문 -->
	<select id="etpListSearch" resultType="com.together.domain.EtpListVO">
	<![CDATA[
	select e.*, substr(e.etp_cd, 1,1) as etp_cd_substr, m.password, m.ph_no, m.email, m.user_nm, m.register_dt, m.authority_no, m.birth_dt, m.sign_no, m.addr_ji, m.addr_dong
	from enterprise e, member m
	where e.user_id = m.user_id and m.authority_no = 2 and ${searchType} like '%' || '${keyword}' || '%'
	order by e.user_id
	]]>
	</select>
	
	<!-- 업체 리스트 검색 결과 -->
	<select id="etpListSearchResult" resultType="com.together.domain.EtpListVO">
	<![CDATA[
	select x.rnum, x.*
	from (select rownum as rnum, before_ord.*
    	from (select e.*, substr(e.etp_cd, 1,1) as etp_cd_substr, m.password, m.ph_no, m.email, m.user_nm, m.register_dt, m.authority_no, m.birth_dt, m.sign_no, m.addr_ji, m.addr_dong
					from enterprise e, member m
					where e.user_id = m.user_id and m.authority_no = 2 and ${Search.searchType} like '%' || '${Search.keyword}' || '%' order by e.user_id ) before_ord
    		where rownum < #{Paging.endNum}) x
	where x.rnum >= #{Paging.startNum}
	order by x.user_id	
	]]>
	</select>
	
	<!--업체 신청 관리 : 클릭 시 상세 정보  -->
	<select id="etpDetail" resultType="com.together.domain.EnterpriseVO">
	<![CDATA[
	select m.ph_no, m.user_nm, m.authority_no, substr(e.etp_cd, 1,1) as etp_cd_substr, e.etp_email, e.user_id, e.etp_addr, e.etp_ph_no, e.etp_license_no, e.etp_nm, e.etp_content, e.etp_apply_dt
	from member m, enterprise e
	where m.user_id = e.user_id and m.authority_no = 3 and e.user_id = #{user_id}
	order by e.etp_apply_dt
	]]>
	</select>
	
	<!-- 관리자 홈페이지 : 회원 정지 시키기 -->
	<update id="memManage_01" parameterType="com.together.domain.MemberVO">
	update member
    set authority_no = 4
    where user_id = #{user_id}
	</update>
	
	<!-- 관리자 홈페이지 : 회원 정지 해제 시키기 -->
	<update id="memManage_02" parameterType="com.together.domain.MemberVO">
	update member
    set authority_no = 3
    where user_id = #{user_id}
	</update>
	
	<!-- 관리자 홈페이지 : 회원 탈퇴 시키기 -->
	<delete id="memManage_03" parameterType="com.together.domain.MemberVO">
	delete from member
	where user_id = #{user_id}
	</delete>
</mapper>