<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.together.mapper.AppServiceMapper">

	<select id="hotelList" resultType="com.together.domain.EnterpriseVO">
	<![CDATA[	
	 select DISTINCT p.etp_cd,i.etp_if_time1,i.etp_if_time2,e.etp_addr,e.etp_nm,i.etp_if_img_path,to_char(e.etp_content) etp_content,e.etp_lat,e.etp_lnt,
	trunc(DISTNACE_WGS84(#{localLat}, #{localLnt}, to_number(trunc(etp_lat,6)), to_number(trunc(etp_lnt,6))),2) km
    from(select s.pd_cd
        from stock s
        where to_date(substr(s.st_cd,-5), 'MM-DD') between to_date(#{in}, 'MM-DD') and to_date(#{out}, 'MM-DD')
        Minus
        select pd_cd
        from stock
        where st_this_num = 0
        and to_date(substr(st_cd,-5), 'MM-DD') between to_date(#{in}, 'MM-DD') and to_date(#{out}, 'MM-DD')) a, stock s, product p , enterprise e , enterprise_info i
    where a.pd_cd = s.pd_cd 
    and to_date(substr(st_cd,-5), 'MM-DD') between to_date(#{in}, 'MM-DD') and to_date(#{out}, 'MM-DD')
    and e.etp_cd = p.etp_cd and s.pd_cd = p.pd_cd and p.etp_cd = i.etp_cd
    and e.etp_addr like '%'||#{address}||'%'
    and e.etp_cd like 'h'||'%'
	]]>
	</select>
	
	<insert id="signup" parameterType="com.together.domain.MemberVO">
		insert into member values 
		(#{user_id},#{password},#{ph_no},#{user_nm},sysdate,3,#{birth_dt},#{f_uid})
	</insert>
	
	<select id="hotelinfoList" resultType="com.together.domain.EnterpriseVO">
	select e.*,i.etp_if_info,i.etp_if_intro,m.user_nm from enterprise e ,enterprise_info i,member m
	where i.etp_cd = e.etp_cd
	and m.user_id = e.user_id
	and e.etp_addr = #{addr}
	and e.etp_nm = #{name}
	</select>

		
	<select id="ProductList" resultType="com.together.domain.EnterpriseVO">
	select DISTINCT p.pd_cd,p.pd_nm,p.pd_price,to_char(p.pd_content) pd_content,p.pd_img_path
	from product p, stock s
	where p.pd_cd = s.pd_cd
	and p.etp_cd = #{code}
	and to_date(substr(s.st_cd,-5),'MM-DD') between to_date(#{in},'MM-DD') and to_date(#{out},'MM-DD')
	order by p.pd_price
	</select>
	
	<select id="user_info" resultType="com.together.domain.MemberVO">
	select * from member where user_id = #{user}
	</select>
	
	<select id="product_info" resultType="com.together.domain.EnterpriseVO">
			select p.etp_cd,p.pd_cd from enterprise e, product p
			where e.etp_cd = p.etp_cd
			and e.etp_addr = #{addr}
			and e.etp_ph_no = #{ph} 
			and p.pd_nm = #{proname}
			and p.pd_price = #{price}
	</select>
		
	<select id="total_day" resultType="int">
		select to_date(#{out},'MM/DD')-to_date(#{in},'MM/DD') from dual
	</select>
	
	<insert id="insertOrder" parameterType="com.together.domain.OrdersVO">
		insert into orders values
		(ORDER_SEQ.nextval,#{user},#{code},to_date(#{in},'MM/DD'),sysdate,1,1,to_date(#{out},'MM/DD'),#{price})
	</insert>
	
	<insert id="reviewadd" parameterType="com.together.domain.ReviewBoardVO">
		insert into reviewboard values(
		REVIEWBOARD_SEQ.nextval,#{id},#{code},#{content},systimestamp,#{star}
		)
		
	</insert>
	
	<select id="reviewList" resultType="com.together.domain.ReviewBoardVO">
		select a.user_id,a.rb_contents, to_char(a.rb_dt,'YY/MM/DD HH24:mi:ss') rb_dt_char ,a.rb_avg,b.user_nm
		from
		(select * from reviewboard where etp_cd = #{etpcode}) a , member b
		where a.user_id = b.user_id
		
	</select>
	
	<select id="reviewcount" resultType="com.together.domain.ReviewBoardVO">
	select NVL(to_number(to_char(avg(rb_avg),'FM9.9')),0) rb_avg from reviewboard where etp_cd = #{etp_cd}
	</select>
	
	<select id="firstproduct" resultType="com.together.domain.EnterpriseVO">
	select p.pd_nm,p.pd_price from enterprise e,product p 
    where e.etp_cd = p.etp_cd 
    and e.etp_cd = #{etp_cd}
    order by p.pd_price
    </select>
    
    <select id="Recommend_list" resultType="com.together.domain.EnterpriseVO">
   <![CDATA[
    select * from
	(select e.etp_cd,e.etp_nm,e.etp_addr,i.etp_if_img_path,i.etp_if_time1,i.etp_if_time2,
	to_char(count(r.etp_cd)) reviewcount,to_char(avg(r.rb_avg),'9.9') reviewavg 
	from enterprise e,reviewboard r,enterprise_info i
	where e.etp_cd like 'f'||'%' 
	and e.etp_cd = r.etp_cd
    and e.etp_cd = i.etp_cd
	group by e.etp_cd,e.etp_nm,e.etp_addr,i.etp_if_img_path,i.etp_if_time1,i.etp_if_time2
	order by count(r.etp_cd) desc, avg(r.rb_avg) desc) a
    where rownum <= 5
    ]]>
    </select>
    
    <select id="funeralList" resultType="com.together.domain.EnterpriseVO">
    <![CDATA[
    select DISTINCT e.etp_nm,e.etp_addr,e.etp_ph_no,e.etp_lat,e.etp_lnt,to_char(e.etp_content) etp_content,i.etp_if_img_path,i.etp_if_time1,i.etp_if_time2,e.etp_cd
 	from enterprise e , product po ,enterprise_info i
 	where po.etp_cd = e.etp_cd 
    and e.etp_cd = i.etp_cd
 	and e.etp_addr like '%'||#{location}||'%'
 	and e.etp_cd like '%'||'f'||'%'
 	MINUS
 	select DISTINCT e.etp_nm,e.etp_addr,e.etp_ph_no,e.etp_lat,e.etp_lnt,to_char(e.etp_content) etp_content,i.etp_if_img_path,i.etp_if_time1,i.etp_if_time2,e.etp_cd
 	from (select o.*,p.etp_cd,p.pd_nm from product p , orders o where p.pd_cd = o.pd_cd) po , enterprise e , enterprise_info i
 	where po.etp_cd = e.etp_cd 
    and e.etp_cd = i.etp_cd
 	and e.etp_addr like '%'||#{location}||'%'
 	and e.etp_cd like '%'||'f'||'%'
 	and (or_dt in(to_timestamp(#{day},'YY/MM/DD HH24:MI'))  
	and or_dt2 in(to_timestamp(to_char(to_timestamp(#{day},'YY/MM/DD HH24:MI')+1/24,'YY/MM/DD HH24:Mi'),'YY/MM/DD HH24:MI')))
	]]>
    </select>
    
    <select id="firstfuneralproduct" resultType="com.together.domain.EnterpriseVO">
    select p.pd_nm,p.pd_price from enterprise e,product p 
    where e.etp_cd = p.etp_cd 
    and e.etp_cd = #{etp_cd}
    and p.ca_cd = (select ca_cd from procategory where ca_cd = '4')
    order by p.pd_price
	</select>
	
	<select id="funeral_review" resultType="com.together.domain.ReviewBoardVO">
	select r.user_id,m.user_nm,r.rb_contents,to_char(r.rb_dt,'YY/MM/DD HH24:mi:ss') rb_dt_char,r.rb_avg,m.f_uid
	from reviewboard r,member m 
	where m.user_id = r.user_id  and etp_cd = #{decodeResult}
	</select>
	
	<select id="funeralgetList" resultType="com.together.domain.EnterpriseVO">
	select t.*,m.user_nm
	from (select e.user_id,e.etp_addr,e.etp_ph_no,e.etp_license_no,e.etp_nm,e.etp_email,e.etp_lat,e.etp_lnt,i.*
	from enterprise e, enterprise_info i
	where e.etp_cd = i.etp_cd
	and e.etp_cd = #{decodeResult}) t,member m
	where t.user_id = m.user_id
	</select>
	
	
	<!-- 야매 장례 상품조회  -->
	<select id="funeral1" resultType="com.together.domain.EnterpriseVO">
	select * from product
	where etp_cd = #{decodeResult}
	and ca_cd = (select ca_cd from procategory where ca_name='수의')
	</select>
	
	<select id="funeral2" resultType="com.together.domain.EnterpriseVO">
	select * from product
	where etp_cd = #{decodeResult}
	and ca_cd = (select ca_cd from procategory where ca_name='함')
	</select>
	
	<select id="funeral3" resultType="com.together.domain.EnterpriseVO">
	select * from product
	where etp_cd = #{decodeResult}
	and ca_cd = (select ca_cd from procategory where ca_name='관')
	</select>
	
	<select id="funeral4" resultType="com.together.domain.EnterpriseVO">
	select * from product
	where etp_cd = #{decodeResult}
	and ca_cd = (select ca_cd from procategory where ca_name='기타')
	</select>
	
	<insert id="f_orders" parameterType="com.together.domain.OrdersVO">
		insert into orders 
		(or_cd,user_id,pd_cd,or_dt,or_dt2,th_dt,or_price,or_stat,or_check)
		values
		(
		ORDER_SEQ.nextval,
		#{user},
		(select pd_cd from product where pd_nm=#{pro} and etp_cd=#{code}),
		to_timestamp(#{day},'YYYY/MM/DD HH24:MI'),
		to_timestamp(to_char(to_timestamp(#{day},'YYYY/MM/DD HH24:MI')+1/24,'YYYY/MM/DD HH24:MI'),'YYYY/MM/DD HH24:MI'),
		systimestamp,
		#{price},
		1,
		1)
	</insert>
	
	<select id="resultOrder" resultType="com.together.domain.EnterpriseVO">
	select e.etp_nm,to_char(o.or_dt,'YYYY/MM/DD HH24:MI') chardate,to_char(o.or_dt2,'YYYY/MM/DD HH24:MI') chardate2,
	to_char(o.th_dt,'YYYY/MM/DD HH24:MI') charthisdate,o.or_price,o.or_stat,o.or_cd,p.pd_nm from orders o , enterprise e,product p 
	where e.etp_cd=#{code} 
	and o.user_id=#{user} 
	and o.or_dt= to_timestamp(#{day},'YYYY/MM/DD HH24:MI')
	and p.pd_cd = o.pd_cd
	order by o.or_cd
	</select>
	
	<select id="getHospitalList" resultType="com.together.domain.EnterpriseVO">
	select DISTINCT e.etp_cd, e.etp_addr,e.etp_nm,
	e.etp_lat,e.etp_lnt,i.etp_if_img_path,i.etp_if_time1,
	i.etp_if_time2,to_char(e.etp_content) etp_content,
	trunc(DISTNACE_WGS84(#{localLat}, #{localLnt}, to_number(trunc(e.etp_lat,6)), to_number(trunc(e.etp_lnt,6))),2) km
	from enterprise e, hospitalcategory h, enterprise_info i
	where i.etp_cd = e.etp_cd
	and h.etp_cd = e.etp_cd
	and h.etp_ct = #{item}
    and e.etp_addr like #{Address}||'%'
	order by e.etp_cd
	</select>
	
	<select id="detail_getHosList" resultType="com.together.domain.EnterpriseVO">
	select e.etp_cd,i.etp_if_time1,i.etp_if_time2,i.etp_if_hos_time
	from enterprise e, enterprise_info i
	where 
	e.etp_cd = i.etp_cd
	and
	e.etp_cd = (select etp_cd from enterprise where etp_nm= #{etp_nm})
	</select>
	
	<select id="hospital_orders" resultType="com.together.domain.HospitalOrdersVO">
	select to_char(hor_dt_f,'YYYY-MM-DD HH24:MI') hor_dt_cf , to_char(hor_dt_l,'YYYY-MM-DD HH24:MI') hor_dt_cl 
	from hospitalorders
	where etp_cd = #{code}
	and hor_dt_f between to_timestamp(#{day1},'YYYY-MM-DD HH24:MI') and to_timestamp(#{day2},'YYYY-MM-DD HH24:MI')
	</select>
	
	<insert id="HosOrders" parameterType="com.together.domain.HospitalOrdersVO">
	insert into hospitalorders values
	('HO'||to_char(sysdate,'YYYYMMDD')||HOS_ORDER_SEQ.nextval,
	(select etp_cd from enterprise where etp_nm = #{etp_cd}),
	#{user_id},
	to_timestamp(#{hor_dt_cf},'YYYY-MM-DD HH24:MI'),
	to_timestamp(#{hor_dt_cl},'YYYY-MM-DD HH24:MI'),
	1,
	1,
	#{hor_pet_cd},
	#{hor_detail})
	</insert>
	
	<select id="getHor_cd" resultType="com.together.domain.HospitalOrdersVO">
	select hor_cd from hospitalorders
	where etp_cd = (select etp_cd from enterprise where etp_nm=#{etp_cd})
	and hor_dt_f = to_timestamp(#{hor_dt_cf},'YYYY/MM/DD HH24:MI')
	</select>
	
	<insert id="HosDetail" parameterType="com.together.domain.HospitalOrdersVO">
	insert into hospitalordersdetail values
	('DE'||HOS_DETAIL_SEQ.nextval,#{hor_cd},#{canser})
	</insert>
	
	<select id="getCalList" resultType="com.together.domain.PetDiaryVO">
	select pet_dia_type,pet_dia_content,to_char(pet_dia_settime1,'YYYY-MM-DD HH24:MI') as pet_dia_settime1_char,
	to_char(pet_dia_settime2,'YYYY-MM-DD HH24:MI') as pet_dia_settime2_char 
	from petdiary
	where pet_dia_petcode = #{petcode}
	</select>
	
	<insert id="insertDiary" parameterType="com.together.domain.PetDiaryVO">
	insert into petdiary values
	('PET'||to_char(sysdate,'YYYYMMDD')||PET_DIARY_SEQ.nextval,
	#{user_id},
	to_timestamp(#{pet_dia_settime1_char},'yyyy-mm-dd HH24:MI:SS'),
	to_timestamp(#{pet_dia_settime1_char},'yyyy-mm-dd HH24:MI:SS'),
	#{pet_dia_petcode},
	#{pet_dia_content},
	'1'
	)
	</insert>
	
	<select id="UserOrder_list" resultType="com.together.domain.UserOrderVO">
	<![CDATA[
	select * from (select to_char(o.or_cd) or_cd,o.or_stat or_stat,to_char(o.or_dt,'yy/mm/dd hh24:mi') or_dt,to_char(o.or_dt2,'yy/mm/dd hh24:mi') or_dt2,
	o.or_price or_price,to_char(o.th_dt,'yy/mm/dd') th_dt,e.etp_cd etp_cd,e.etp_nm etp_nm 
	from orders o,product p,enterprise e
	where o.user_id = #{id}
	and e.etp_cd like 'h'||'%'
	and o.pd_cd = p.pd_cd
	and p.etp_cd = e.etp_cd
	UNION
	select to_char(ROWNUM) or_cd,X.* 
	FROM(select o.or_stat or_stat,to_char(o.or_dt,'yy/mm/dd hh24:mi') or_dt,to_char(o.or_dt2,'yy/mm/dd hh24:mi') or_dt2,
	sum(o.or_price) or_price,to_char(o.th_dt,'yy/mm/dd') th_dt,e.etp_cd etp_cd,e.etp_nm etp_nm
	from orders o,product p,enterprise e
	where o.user_id = #{id}
	and e.etp_cd like 'f'||'%'
	and o.pd_cd = p.pd_cd
	and p.etp_cd = e.etp_cd
	group by o.or_stat,to_char(o.or_dt,'yy/mm/dd hh24:mi'),to_char(o.or_dt2,'yy/mm/dd hh24:mi'),
	to_char(o.th_dt,'yy/mm/dd'),e.etp_cd,e.etp_nm
	order by to_char(o.th_dt,'yy/mm/dd') desc) X
	UNION
	select to_char(h.hor_cd) or_cd,h.hor_stat or_stat,to_char(h.hor_dt_f,'yy/mm/dd hh24:mi') or_dt,
	to_char(h.hor_dt_l,'yy/mm/dd hh24:mi') or_dt2,NVL(null,0) or_price,
	to_char(to_date(substr(h.hor_cd,3,8),'yy/mm/dd','NLS_DATE_LANGUAGE=AMERICAN'),'yy/mm/dd') th_dt,h.etp_cd etp_cd,e.etp_nm etp_nm
	from hospitalorders h,enterprise e
	where h.user_id = #{id}
	and h.etp_cd = e.etp_cd) a
	order by a.th_dt desc
	]]>
	</select>
	
	<update id="order_cancle" parameterType="com.together.domain.OrdersVO">
	update (select o.or_cd,o.or_check ,o.or_stat,o.or_dt,o.or_dt2,e.etp_cd from orders o,product p ,enterprise e where o.pd_cd = p.pd_cd and p.etp_cd = e.etp_cd) x
	set x.or_stat = '3' , x.or_check = '1'
	where x.or_dt = to_date(#{day},'yy/mm/dd hh24:mi','NLS_DATE_LANGUAGE=AMERICAN')
	and x.or_dt2 = to_date(#{day2},'yy/mm/dd hh24:mi','NLS_DATE_LANGUAGE=AMERICAN')
	and x.etp_cd = #{code}
	and x.or_cd = #{or_cd}
	</update>
	
	<update id="forder_cancle" parameterType="com.together.domain.OrdersVO">
	update (select o.or_stat,o.or_check,o.or_dt,o.or_dt2,e.etp_cd from orders o,product p ,enterprise e where o.pd_cd = p.pd_cd and p.etp_cd = e.etp_cd) x
	set x.or_stat = '3' , x.or_check = '1'
	where x.or_dt = to_date(#{day},'yy/mm/dd hh24:mi','NLS_DATE_LANGUAGE=AMERICAN')
	and x.or_dt2 = to_date(#{day2},'yy/mm/dd hh24:mi','NLS_DATE_LANGUAGE=AMERICAN')
	and x.etp_cd = #{code}
	</update>
	
	<update id="horder_cancle" parameterType="com.together.domain.HospitalOrdersVO">
	update hospitalorders
	set hor_stat = '3' , hor_check = '1'
	where hor_dt_f = to_date(#{day},'yy/mm/dd hh24:mi','NLS_DATE_LANGUAGE=AMERICAN')
	and hor_dt_l = to_date(#{day2},'yy/mm/dd hh24:mi','NLS_DATE_LANGUAGE=AMERICAN')
	and etp_cd = #{code}
	and hor_cd = #{or_cd}
	</update>
	
	<update id="updateCal" parameterType="com.together.domain.PetDiaryVO">
	update petdiary set pet_dia_content= #{pet_dia_content},
	pet_dia_settime1 = to_timestamp(#{pet_dia_settime1_char},'yy/mm/dd hh24:mi','NLS_DATE_LANGUAGE=AMERICAN'),
	pet_dia_settime2 = to_timestamp(#{pet_dia_settime2_char},'yy/mm/dd hh24:mi','NLS_DATE_LANGUAGE=AMERICAN'),
	user_id = #{user_id}
	where pet_dia_settime1 = to_timestamp(#{b_time1},'yy/mm/dd hh24:mi','NLS_DATE_LANGUAGE=AMERICAN')
	and pet_dia_settime2 = to_timestamp(#{b_time2},'yy/mm/dd hh24:mi','NLS_DATE_LANGUAGE=AMERICAN')
	and pet_dia_content= #{b_content}
	</update>
	
	<delete id="deleteCal" parameterType="com.together.domain.PetDiaryVO">
	DELETE from petdiary 
	where pet_dia_content= #{pet_dia_content} and
	pet_dia_settime1 = to_timestamp(#{pet_dia_settime1_char},'yy/mm/dd hh24:mi','NLS_DATE_LANGUAGE=AMERICAN') and
	pet_dia_settime2 = to_timestamp(#{pet_dia_settime2_char},'yy/mm/dd hh24:mi','NLS_DATE_LANGUAGE=AMERICAN') and
	user_id = #{user_id}
	</delete>
	
	 
</mapper>