<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.together.mapper.AppServiceMapper">

	<select id="hotelList" resultType="com.together.domain.EnterpriseVO">
	<![CDATA[	
	 select DISTINCT p.etp_cd,i.etp_if_time1,i.etp_if_time2,e.etp_addr,e.etp_nm
    from(select s.pd_cd
        from stock s
        where to_date(substr(s.st_cd,-5), 'MM-DD') between to_date(#{in}, 'MM-DD') and to_date(#{out}, 'MM-DD')
        Minus
        select pd_cd
        from stock
        where st_this_num = 0
        and to_date(substr(st_cd,-5), 'MM-DD') between to_date(#{in}, 'MM-DD') and to_date(#{out}, 'MM-DD')) a, stock s, product p , enterprise e , enterprise_info i
    where a.pd_cd = s.pd_cd 
    and to_date(substr(st_cd,-5), 'MM-DD') between to_date(#{in}, 'MM-DD') and to_date(#{out}, 'MM-DD')
    and e.etp_cd = p.etp_cd and s.pd_cd = p.pd_cd and p.etp_cd = i.etp_cd
    and e.etp_addr like '%'||#{address}||'%'
	]]>
	</select>


</mapper>