<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.together.mapper.CustomerMapper">

	<!--  select시 셀렉트문  insert시 태그를 각자 맞는 sql문을 쓴다 -->
	
	<!-- login sql 추가 -->
	<select id="login" resultType="com.together.domain.MemberVO">
		select * from member where user_id = #{user_id} and password = #{password}
	</select>

	<insert id="signup" parameterType="com.together.domain.MemberVO">
		insert into member values 
		(#{user_id},#{password},#{ph_no},#{email},#{user_nm},sysdate,'3',#{birth_dt},MEMBER_SEQ.nextval,#{addr_ji},#{addr_dong})
	</insert>
	
	<select id="list" resultType="com.together.domain.EnterpriseVO">
		select * from enterprise 
		where (etp_addr = #{address_total} 
		and
		etp_cd like '%'||'h'||'%')
	</select>
	
	
	<select id="address" resultType="com.together.domain.EnterpriseVO">
	<![CDATA[
	   select DISTINCT p.etp_cd,i.etp_if_time1,i.etp_if_time2,e.etp_addr,e.etp_nm
    from(select s.pd_cd
        from stock s
        where to_date(substr(s.st_cd,-5), 'MM-DD') between to_date(#{in}, 'MM-DD') and to_date(#{out}, 'MM-DD')
        Minus
        select pd_cd
        from stock
        where st_this_num = 0
        and to_date(substr(st_cd,-5), 'MM-DD') between to_date(#{in}, 'MM-DD') and to_date(#{out}, 'MM-DD')) a, stock s, product p , enterprise e , enterprise_info i
    where a.pd_cd = s.pd_cd 
    and to_date(substr(st_cd,-5), 'MM-DD') between to_date(#{in}, 'MM-DD') and to_date(#{out}, 'MM-DD')
    and e.etp_cd = p.etp_cd and s.pd_cd = p.pd_cd and p.etp_cd = i.etp_cd
    and e.etp_addr like '%'||#{address}||'%'
	]]>
	</select>
	
	
	<select id="serchlist" resultType="com.together.domain.EnterpriseVO">
	<![CDATA[
	   select DISTINCT p.etp_cd,i.etp_if_time1,i.etp_if_time2,e.etp_addr,e.etp_nm
    from(select s.pd_cd
        from stock s
        where to_date(substr(s.st_cd,-5), 'MM-DD') between to_date(#{in}, 'MM-DD') and to_date(#{out}, 'MM-DD')
        Minus
        select pd_cd
        from stock
        where st_this_num = 0
        and to_date(substr(st_cd,-5), 'MM-DD') between to_date(#{in}, 'MM-DD') and to_date(#{out}, 'MM-DD')) a, stock s, product p , enterprise e , enterprise_info i
    where a.pd_cd = s.pd_cd 
    and to_date(substr(st_cd,-5), 'MM-DD') between to_date(#{in}, 'MM-DD') and to_date(#{out}, 'MM-DD')
    and e.etp_cd = p.etp_cd and s.pd_cd = p.pd_cd and p.etp_cd = i.etp_cd
    and e.etp_nm like '%'||#{serch}||'%'
	]]>
	</select>
	
	
	
	
	
	<select id="info" resultType="com.together.domain.EnterpriseVO">
		select * from enterprise a, enterprise_info  b, member c
		where a.etp_cd = b.etp_cd and c.user_id = a.user_id and b.etp_cd = #{test}
	</select>
	

	<insert id="ent_info" parameterType="com.together.domain.EnterpriseInfoVO">
		insert into enterprise_info(etp_if_cd,etp_cd) values (ENTINFO_SEQ.nextval,#{code})		
	</insert>
	
	
	
	<select id="getList" resultType="com.together.domain.ProductVO">
		select * from product where etp_cd = #{code}
	</select>
	
	<select id="getcd" resultType="com.together.domain.EnterpriseVO">
	select * from Product where etp_cd = #{code} and pd_nm = #{name}
	</select>
	
	<insert id="insert_order" parameterType="com.together.domain.OrdersVO">
	insert into orders(or_cd, user_id, pd_cd, or_dt, or_dt2, th_dt, or_stat, or_check, or_price)
 	values(ORDER_SEQ.nextval,#{user},#{pdcode},to_timestamp(#{first}),to_timestamp(#{last}),to_char(sysdate,'YYYY-MM-DD HH24:mi:ss'),'1','1',#{price})
	</insert>
	
	<update id="update_order" parameterType="com.together.domain.StockVO">
	<![CDATA[
	update stock set st_this_num = st_this_num-1 where pd_cd=#{pcode} 
	and (to_date(substr(st_cd, -5),'MM-DD') between to_date(substr(#{in},-4),'MM-DD') and to_date(substr(#{out},-4),'MM-DD'))
	]]>
	</update>
	
</mapper>