<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.together.mapper.ETPApplyMapper">

	<!--  select시 셀렉트문  insert시 태그를 각자 맞는 sql문을 쓴다 -->
	
	<!-- 업체신청시 enterprise테이블에 insert될 쿼리문 -->
	<insert id="etpApply" parameterType="com.together.domain.EnterpriseVO">
		insert into enterprise
		values ('#{etp_cd}'||ENTERPRISE_SEQ.nextval,
		#{user_id},#{etp_addr},#{etp_ph_no},
		#{etp_license_no},#{etp_nm},#{etp_content},
		#{etp_email});
	</insert>
	
	
</mapper>