<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.together.mapper.ETPManageMapper">
<update id="update" parameterType = "com.together.domain.EnterpriseVO">
		update enterprise set etp_email = #{etp_email},
		etp_addr = #{etp_addr},
		etp_ph_no = #{etp_ph_no},
		etp_license_no = #{etp_license_no},
		etp_nm = #{etp_nm}
		where etp_cd = #{etp_cd}
		
	</update>
	
	<select id="textbox" resultType="com.together.domain.EnterpriseVO">
		select * from enterprise a , enterprise_info b 
		where a.etp_cd = b.etp_cd and a.user_id = #{sess}
	</select>
	
	<select id="etpcheck" resultType="com.together.domain.EnterpriseVO">
		select * from member a, enterprise b
		where a.user_id = b.user_id and a.user_id = #{sess}
	</select>
	
	<update id="update2" parameterType="com.together.domain.EnterpriseVO">
		update enterprise_info set etp_if_info = #{etp_if_info},
		etp_if_intro = #{etp_if_intro},
		etp_if_time1 = #{time1},
		etp_if_time2 = #{time2}
		where etp_cd = #{etp_cd}
	</update>
	
	<select id="info_select" resultType="com.together.domain.EnterpriseVO">
	select *from member a, enterprise b 
	where a.user_id = b.user_id and b.user_id = #{user_id}
	</select>
	
	<select id="product_select" resultType="com.together.domain.ProductVO">
		select * from product where etp_cd = #{code}
	</select>
	
	<delete id="del" parameterType="com.together.domain.ProductVO">
	delete from product where etp_cd = #{code} and pd_nm = #{nm}
	</delete>
	
	<insert id="insert_product" parameterType="com.together.domain.ProductVO">
		insert into product values (PRODUCT_SEQ.nextval,#{code},#{pd_nm},#{pd_price},#{pd_content},null)
	</insert> 
	
	<select id="select_order_list" resultType="com.together.domain.EnterpriseVO">
	<![CDATA[
	select m.user_id,m.ph_no,m.user_nm,e.user_id,e.etp_cd,p.*,o.*,to_char(o.or_dt ,'YYYY-MM-DD') as chardate ,
	to_char(o.or_dt2 , 'YYYY-MM-DD') as chardate2 , 
	to_char(o.th_dt, 'YYYY-MM-DD HH24:MI:SS') as charthisdate,
	to_char(o.or_price, '99,999,999') as price
	from member m , enterprise e, orders o , product p
	where e.etp_cd = p.etp_cd 
	and m.user_id=o.user_id
	and p.pd_cd = o.pd_cd 
	and e.etp_cd = #{code}
	order by to_char(o.th_dt, 'YYYY-MM-DD HH24:MI:SS')
	]]>
	</select>
	
	<select id="newInfo" resultType="com.together.domain.OrdersVO">
		select m.user_nm ,m.user_id,o.user_id 
		from member m , orders o 
		where m.user_id = o.user_id and m.user_nm = #{nm}
	</select>
	
	<update id="updated" parameterType="com.together.domain.OrdersVO">
	update orders set or_check = '2' ,or_stat = '2'
	where user_id = #{member_id}
	and or_dt = #{day1} 
	and or_dt2 = #{day2}
	and or_check = '1'
	and th_dt = #{day_th}
	</update> 
	
	<select id="st_insert_pro" resultType="com.together.domain.ProductVO">
		select * from product where etp_cd = #{code} and pd_nm = #{pd_nm}
	</select>
	
	<insert id="stockint" parameterType="com.together.domain.StockVO">
		insert into stock values (#{total_code},#{pro_code},#{pd_num},#{pd_num})
	</insert>
	
	<select id="checkpro" resultType="com.together.domain.ProductVO">
		select * from product 
		where etp_cd = #{code} 
		and pd_nm = #{p_nm} 
		and DBMS_LOB.SUBSTR(pd_content, 1000, 1) = #{content}
	</select>
	
	<select id="StockCheckPro" resultType="com.together.domain.StockVO">
	<![CDATA[
	select st_cd, pd_cd ,st_this_num ,st_total_num
	from stock
	where to_date(substr(st_cd,-5), 'MM-DD') between to_date(#{sub_fir}, 'MM-DD') and to_date(#{sub_las}, 'MM-DD')
	and pd_cd = #{p_code}
	]]>
	</select>
	
	
</mapper>