<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.together.mapper.MypageMapper">
	
	<select id="passCheak" resultType="com.together.domain.MemberVO">
		select * from member where user_id = #{user_id}
	</select>
	
	<select id="memberinfo" resultType="com.together.domain.MemberVO">
		select * from member where user_id = #{user_id}
	</select> 
	
  	<update id="passNew" parameterType="com.together.domain.MemberVO">
		update member set password = #{password} where user_id = #{user_id}
	</update> 
	
	  	<update id="infoNew" parameterType="com.together.domain.MemberVO">
		update member set 
		email = #{email}, 
		addr_ji = #{addr_ji},
		addr_dong = #{addr_dong},
		ph_no = #{phon} 
		where user_id = #{user_id}
	</update>
	
	<select id="petlist" resultType="com.together.domain.DogsVO">
		select * from dogs where user_id = #{user_id}
	</select> 
	

	
<insert id="addDog"  parameterType="com.together.domain.DogsVO">
	insert into dogs(d_cd, user_id,d_nm,d_dt,d_kind,d_gender,d_content,d_age)
	values('d'||DOG_SEQ.nextval,
			#{user_id},
			#{d_nm},
			systimestamp,
			#{d_kind},
			#{d_gender},
			#{d_content},
			#{d_age})
   
	</insert>
	
	<delete id="petdelete" parameterType="com.together.domain.DogsVO">
		delete from dogs where d_nm = #{d_nm} and user_id = #{user_id}
	</delete>  
	
	 	<update id="petup" parameterType="com.together.domain.DogsVO">
		update dogs set 
		d_age = #{d_age},
		d_gender = #{d_gender},
		d_kind = #{d_kind},
		d_content = #{d_content}
		where user_id = #{user_id} and d_nm = #{d_nm}
	</update> 
	
	 <select id="orderlist" resultType="com.together.domain.OrdersVO">
	select o.*,TO_CHAR(o.or_dt, 'YYYY-MM-DD') as first_day ,TO_CHAR(o.or_dt2, 'YYYY-MM-DD') as last_day,e.*,p.*  from orders o, product p ,enterprise e where o.pd_cd=p.pd_cd and p.etp_cd=e.etp_cd and o.user_id=#{user_id} 
        
	</select>
	
	  <select id="postlist" resultType="com.together.domain.PostVO">
		select * from post where user_id = #{user_id}
	</select>
	
	<!--  <select id="postlist" resultType="com.together.domain.PostVO">
		select * from post where user_id = #{user_id}
	</select> --> 
	
</mapper>