<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="nav/mypage/mypageInclude/mypagelayout">

<th:block layout:fragment="page_head">
	<title>회원 정보</title>
</th:block>

<!-- 홈 페이지에 들어갈 내용-->
<th:block layout:fragment="contents">
<div class="ppap">
	<div id="dddd">
		<h2>회원정보 수정</h2>
	</div>
	<div class="form-group uploadDiv">
		<input type="file" name='uploadFile' multiple>
	</div>

	<div class='uploadResult'>
		<ul>

		</ul>
	</div>
	<!-- 등록버튼 -->
	<div>
		<input type="button" value="등록하기" class="regiBtn">
	</div>
	<!-- 등록버튼 -->
	<!-- 업로드 부분 -->
	
	<div>
		<img src="http://placehold.it/150x150" alt="" id="imgbox">
	</div>
	<div class="asd" th:each="memberinfo : ${memberinfo}">
		<div>
			아이디 : <span class="id" th:text="${memberinfo.user_id}"></span>
		</div>
		<!--아이디 -->
		<!--아이디  -->
		<div>
			이름 : <span th:text="${memberinfo.user_nm}"></span>
		</div>
		<div>
			생년월일 <span th:text="${memberinfo.birth_dt}"></span>
		</div>
		<div>
			주소 <span class="addr_ji" th:text="${memberinfo.addr_ji}"></span> <span
				class="addr_dong" th:text="${memberinfo.addr_dong}"></span>
		</div>
		<div>
			이메일 <span class="email" th:text="${memberinfo.email}"></span>
		</div>
		<div>
			폰번호 <span class="phon" th:text="${memberinfo.ph_no}"></span>
		</div>

		<div>
			정보 변경<br> 현재비밀번호 : <input type="password" id="pass"
				name="password">
			<button id="passok">확인</button>
			<br>
			<div id="newinfo">
				비밀번호 변경하기
				<button id="newpass">비밀변호 변경하기</button>
				<div>
					변경할 이메일 <input type="email" id="newemail">
				</div>
				<div>
					변경할 핸드폰번호<input type="text" id="newphon">
				</div>
				<div>
					변경 주소 <input type="text" id="addr" placeholder="우편번호 검색을 해주세요"
						onclick="address_code()"><br> <input type="text"
						id="addr2" placeholder="상세주소"><br>
				</div>
				<div>
					<button id="upbtn">수정하기</button>
				</div>
			</div>


		</div>
	</div>
</div>

</th:block>


<!--여기까지  -->
<th:block layout:fragment="page_css">
	<link rel="stylesheet" href="assets/css/page/mypage/memberinfo.css">
</th:block>

<th:block layout:fragment="page_js">
<script type="text/javascript" src="assets/js/mypagejs/memberinfojs.js"></script>
</th:block>


</html>
