<!DOCTYPE html>

<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>

	


<title>애견 추가</title>

<div>
	<div class="form-group uploadDiv">
		<input type="file" name='uploadFile' multiple>
	</div>
	
	<progress value="0" max="100" id="uploader">0%</progress>
	<input type="file" value="upload" id="fileButton" />	



	<div class='uploadResult'>
		<ul>

		</ul>
	</div>


	<div>
		<img src="http://placehold.it/150x150" alt="" id="imgbox1">
	</div>
	애견이름<input type="text" id="dname"><br> 성별 <br> <input
		type="radio" name="gender" value="1">수컷 <input type="radio"
		name="gender" value="2">암컷 <br> 나이<input type="text"
		id="age"><br> 품종<input type="text" id="kind"><br>
	코멘트<br>
	<textarea style="resize: none" rows="5" cols="25" id="comment"></textarea>
</div>
<button id="addpet">추가하기</button>

<style media="screen">
	#uploader{
		-webkit-appearance : none;
		appearance : none;
		width : 50%;
		margin-bottom: 10px;
	}
</style>

<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js">
</script>

<script>
//Your web app's Firebase configuration
var firebaseConfig = {
	apiKey : "AIzaSyDcJDqLBjqwDetOcCt5LcYjr8k8EL7mMnk",
	authDomain : "blogapp-a9a56.firebaseapp.com",
	databaseURL : "https://blogapp-a9a56.firebaseio.com",
	projectId : "blogapp-a9a56",
	storageBucket : "blogapp-a9a56.appspot.com",
	messagingSenderId : "604610409810",
	appId : "1:604610409810:web:76decd7c19ac5f6b"
};
// Initialize Firebase
firebase.initializeApp(firebaseConfig);

//DOM요소 가져오기 - 개별적 변수 선언
// Get elements
var uploader = document.getElementById('uploader');
var fileButton = document.getElementById('fileButton');

// Listen for file selection - 파일이 선택되었을 때 알 수 있도록 해야함
fileButton.addEventListener('change', function(e){
	//
	function guid() {
  		function s4(){
    	return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
  		}
  			return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
	}
	
	//파일이 업로드될때 이 함수 안에서 호출 할 것임
	
	// Get file - 파일을 가져오기 위해 타깃 요소에 있는 파일 객체에서 입력할 것
	var file = e.target.files[0];
	
	// Create a storage ref - 스토리지 참조 생성
	//firebase.storage().ref('folder_name/file_name');
	
	var storageRef = firebase.storage().ref('uploadTest/' + guid());
	
	// Upload file
	var task = storageRef.put(file);
	
	// Update progress bar
	task.on('state_changed',
		function progress(snapshot){
			var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
			uploader.value = percentage;
		},
		
		function error(err){
			
		},
		
		function complete(){
			
		}
	);
});		
</script>


<script>
$(document).ready(function() {
	$("#addpet").click(function() {
		var d_nm = $("#dname").val();
		var d_gender = $('input[name="gender"]:checked').val();
		var d_age = $("#age").val();
		var d_kind = $("#kind").val();
		var d_content = $("#comment").val();
		
	 	$.ajax({
			url : "/mypet_add_info",
			type : "POST",
			dataType : 'text',
			data : {
				d_nm : d_nm,
				d_gender : d_gender,
				d_age : d_age,
				d_kind : d_kind,
				d_content : d_content
			},
			success : function(data) {
				alert("등록완료");
				opener.parent.repet();
				if(opener.repet){
				 }else{
					alert("실패");
				}

				window.close();		
				}
			});   
		
	});
});
</script>




<script>
	$(document).ready(function(e) {
		
		//이게 뭘까
		var formObj = $("form[role='form']");
		//이게 뭘까
		/*
		$("button[type='submit']").on("click", function(e) {
			alert("제발 나와라예 나와라요");
			e.preventDefault();
			console.log("submit clicked");
			
			var str="";
			$(".uploadResult ul li").each(function(i, obj) {
				var jobj = $(obj);
				
				console.dir(jboj);
				
				str += "<input type='hidden' name='attachList["+i+"].fileName' value='"+jobj.data("filename")+"'>";
			      str += "<input type='hidden' name='attachList["+i+"].uuid' value='"+jobj.data("uuid")+"'>";
			      str += "<input type='hidden' name='attachList["+i+"].uploadPath' value='"+jobj.data("path")+"'>";
			      str += "<input type='hidden' name='attachList["+i+"].fileType' value='"+ jobj.data("type")+"'>";
			});  //end of $uploadResult ul li").each
			
			formObj.append(str).submit();
		}); //end of button click
		*/
		//파일 확장자,사이즈 제한 
		var regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
		var maxSize = 5242880; //5MB
		
		function checkExtension(fileName, fileSize) {
			if(fileSize>=maxSize) {
				alert("파일 사이즈 초과");
				return false;
			}
			
			if(regex.test(fileName)) {
				alert("해당 종류의 파일은 업로드할 수 없습니다.");
				return false;
			}
			return true;
		}//end of checkExtension function
		//파일 확장자,사이즈 제한 
		
		
		
			$("input[type='file']").change(function(e) {
				var formData = new FormData();
				
				var inputFile = $("input[name='uploadFile']");
				var files = inputFile[0].files;
				
				for(var i=0; i<files.length; i++) {
					if(!checkExtension(files[i].name, files[i].size)) {
						return false;
					}//end of if
					formData.append("uploadFile", files[i]);
				}//end of for

					$.ajax({
						url:'/uploadAjaxAction',
						processData:false,
						contentType:false,
						data:formData,
						type:'POST',
						dataType:'json',
						success: function(result) {
							showUploadResult(result); //업로드 결과 처리 함수
						}
					}); //end of ajax

				
				function showUploadResult(uploadResultArr) {
					if(!uploadResultArr || uploadResultArr.length==0) {return;}
					
					var uploadUL = $(".uploadResult ul");
					
					var str="";
					
					$(uploadResultArr).each(function(e, obj) {
						//image type
						 
						if(obj.image){
							//이미지면 이거
							var fileCallPath =  encodeURIComponent( obj.uploadPath+ "/s_"+obj.uuid +"_"+obj.fileName);
							str += "<li data-path='"+obj.uploadPath+"'";
							str +=" data-uuid='"+obj.uuid+"' data-filename='"+obj.fileName+"' data-type='"+obj.image+"'"
							str +" ><div>";
							str += "<span> "+ obj.fileName+"</span>";
							str += "<button type='button' data-file=\'"+fileCallPath+"\' "
							str += "data-type='image' class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>";
							//str += "<img src='/ex05/display?fileName="+fileCallPath+"'>"; <- 원본
							str += "<img src='/display?fileName="+fileCallPath+"'>";
							str += "</div>";
							str +"</li>";
							
						}else{
							//이미지 아니면 이거
							var fileCallPath =  encodeURIComponent( obj.uploadPath+"/"+ obj.uuid +"_"+obj.fileName);			      
						    var fileLink = fileCallPath.replace(new RegExp(/\\/g),"/");
						      
							str += "<li "
							str += "data-path='"+obj.uploadPath+"' data-uuid='"+obj.uuid+"' data-filename='"+obj.fileName+"' data-type='"+obj.image+"' ><div>";
							str += "<span> "+ obj.fileName+"</span>";
							str += "<button type='button' data-file=\'"+fileCallPath+"\' data-type='file' " 
							str += "class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>";
											//'/ex05/resources/img/attach.png'></a>"; <-원본
							str += "<img src='/resources/img/attach.png'></a>";
							str += "</div>";
							str +"</li>";
						}
							
						
					}); //end of uploadResultArr.each
					
					uploadUL.append(str);
				}//end of showUploadResult function
				
				
				
				
			});// end of change

	});//end of document.ready
</script>
