<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/serviceLayout">

<th:block layout:fragment="page_head">
	<title>펫 관리</title>
</th:block>
<th:block layout:fragment="page_css">
	<script>
	$(document).ready(function() {
				$("#adddog").click(function() {
					window.open("/mypet_add", "newpass","width=500,height=500,left=600, top=250" );
						});
				
				
			});
	
	$(document).ready(function() {
		$(".updog").click(function() {
			var d_nm = $(this).parent().parent().find('.dname').find('span').text();
			var d_kind = $(this).parent().parent().find('.dkind').find('span').text();
			var d_age = $(this).parent().parent().find('.dage').find('span').text();
			var d_gender = $(this).parent().parent().find('.dgender').find('span').text();
	      
			console.log(d_gender);
			window.open("/petinfo_up?d_nm="+d_nm+"&d_kind="+d_kind+"&d_age="+d_age+"&d_gender="+d_gender,"_blank","toolbar=yes,menubar=yes,newpass,width=500,height=500,left=600, top=250" );
				});
	}); 

	
 	$(document).ready(function() {
		$(".deldog").click(function() {
			var d_nm = $(this).parent().parent().find('.dname').find('span').text();
			console.log(d_nm);
			
			$.ajax({
				url : "/pet_delete",
				type : "POST",
				dataType : 'text',
				data : {
					d_nm : d_nm
					
				},
				success : function(data) {
					alert(data);	
					}
				});   
			
				});
		
		
	}); 
	</script>
	
	<style>
	.asd{
	display:inline-block;
	border: 1px solid gray;
	}
	#imgbox1{
	   position: relative;
    display: inline-block;
    background: url(cat.jpg) center center no-repeat;
    border-radius: 50%;
   
	}
	</style>
</th:block>

<th:block layout:fragment="page_js">

</th:block>

<th:block layout:fragment="contents">

	<div>
		<h2>강아지 정보</h2>
		<button id="adddog">강아지 추가</button>
		
	</div>
	
	<div class="asd" th:each="pet : ${pet}">
	<div class="bts">
	<button class="deldog">삭제</button>
	<button class="updog">수정</button>
	</div>
	<div><img src="http://placehold.it/150x150" alt="" id="imgbox1"></div>
	<br>개정보<br>
	<div class="dname">이름:<span th:text="${pet.d_nm}" class="dognm"></span></div>
	<div class="dkind">품종:<span th:text="${pet.d_kind}"> </span></div>
	<div class="dgender"><span th:if="${pet.d_gender}==1">수컷</span></div>
	<div class="dgender"><span th:if="${pet.d_gender}==2">암컷</span></div>
	<div class="dage">나이<span th:text="${pet.d_age}"></span></div>
	<div>인사말<br><span th:text="${pet.d_content}"></span></div>
	</div>
 </th:each>

<!-- <div class="asd">
	개 
	<div><img src="http://placehold.it/150x150" alt="" id="imgbox1"></div>
	<div>개정보aaaaaaaaaaaaa</div>
	<div>ㅂㅈㄷ</div>
	개
	</div>
	
	<div class="asd">
	개 
	<div><img src="http://placehold.it/150x150" alt="" id="imgbox"></div>
	<div>개정보aaaaaaaaaaaaa</div>
	<div>ㅂㅈㄷ</div>
	개
	</div> -->
</th:block>