<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/serviceLayout">

<th:block layout:fragment="page_head">
	<title>서비스 메뉴에 오신것을 환영합니다.</title>
</th:block>

<th:block layout:fragment="page_css">
	
</th:block>

<th:block layout:fragment="page_js">

</th:block>

<th:block layout:fragment="contents">
	<div>
		<h2>강아지 정보</h2>
	</div>
	<div>크르르릉크크킁컹ㅋ컹 멍머</div>

</th:block>