<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>
$(document).ready(function() {
	$("#addpet").click(function() {
		var d_nm = $("#dname").val();
		var d_gender = $('input[name="gender"]:checked').val();
		var d_age = $("#age").val();
		var d_kind = $("#kind").val();
		var d_content = $("#content").val();
		
	 	$.ajax({
			url : "/mypet_add_info",
			type : "POST",
			dataType : 'text',
			data : {
				d_nm : d_nm,
				d_gender : d_gender,
				d_age : d_age,
				d_kind : d_kind,
				d_content : d_content
			},
			success : function(data) {
				alert("등록완료");
				opener.parent.location.reload(mypet_info);
				close();				
				}
			});   
		
	});
});
</script>


<title>애견 추가</title>
</head>
<body>
<div>
<div><img src="http://placehold.it/150x150" alt="" id="imgbox1"></div>
애견이름<input type="text" id="dname"><br>
성별 <br>
<input type="radio" name="gender" value="1">수컷
<input type="radio" name="gender" value="2">암컷
<br>
나이<input type="text" id="age"><br>
품종<input type="text" id="kind"><br>
코멘트<br>
<textarea style="resize: none" rows="5" cols="25" id="content" ></textarea>
</div>
<button id="addpet">추가하기</button>
</body>
</html>