@charset "UTF-8";

#bP {
	 opacity: 0;
	 display: none;
	 position: fixed;
	 width: 1300px;
	 height: 75%;
	 border: 5px solid #fff;
	 padding: 20px;
	 background-color: #fff;
}

.bp_span_label{
	width:25%;
}