
@charset "UTF-8";

@media screen and (max-width: 850px)
img {
    width: 100px;
    height: 100px;
}


#main1 {
   
   margin-top: 120px;
   margin-bottom: 5%;
   margin-left: 23%;
   margin-right: 23%;
   background-color: #E6E6E6;
   
   
}
#main1-1 {
   margin: 15px;
}
#main1-2 {
   
}
.listbox1 {

 
}
.listbox2{
    border:2px soli; 
    margin: 10px;
    box-shadow: 1px 1px 6px ;
    background-color: white;
    
    display: flex;
    flex-flow: wrap;
}

#sear{
   padding: 15px;
}
#context{
     flex: 2 1 auto;
     padding: 20px;
  
}
#context1{
      flex: 0 1 auto;
   padding: 20px;
}
#imglist {
   
   margin: 10px;
}

.container {
 
}
#imgbox{
   width: 100%;
   height: 100%;
}
#imgbox{
   padding: 10px;
}

#searchlist{
   position: absolute;
   background-color: #fff;
   z-index: 3; 
      box-shadow: 0 1px 4px 0 rgba(41,51,57,.5);
}

#arealist{
   width : 450px;
    padding: 12px;
  
    display: flex;
  flex-wrap: wrap;
    list-style:none;
     
}
.fow{display: none;}


#titlearea{
 border-bottom: 2px solid gray;
 margin: 3px;
 padding: 10px;
}
li{
   padding: 20px;
}
span{
   padding: 15px;
   
}
#searchlist{
   display: none;
}

.selectbox {
   position: relative;
   width: 200px; /* �꼫鍮꾩꽕�젙 */
   border: 1px solid #999; /* �뀒�몢由� �꽕�젙 */
   background-color:white;
   z-index: 1;
   /* focus �슚怨�*/
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
   -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
      ease-in-out .15s;
   -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
      .15s;
   transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* focus �슚怨� */
.selectbox.focus {
   border-color: #66afe9;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
      rgba(102, 175, 233, .6);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
      rgba(102, 175, 233, .6);
}

/* 媛��긽 �꽑�깮�옄瑜� �솢�슜 �솕�궡�몴 ��泥� */
.selectbox:before {
   content: "";
   position: absolute;
   top: 50%;
   right: 15px;
   width: 0;
   height: 0;
   margin-top: -1px;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 5px solid #313131;

}

.selectbox label {
   position: absolute;
   top: 1px; /* �쐞移섏젙�젹 */
   left: 5px; /* �쐞移섏젙�젹 */
   padding: .5em .5em; /* select�쓽 �뿬諛� �겕湲� 留뚰겮 */
   color: #333;
   z-index: -1; /* IE8�뿉�꽌 label�씠 �쐞移섑븳 怨녹씠 �겢由��릺吏� �븡�뒗 寃� �빐寃� */
}

.selectbox select {
   width: 100%;
   height: auto; /* �넂�씠 珥덇린�솕 */
   line-height: normal; /* line-height 珥덇린�솕 */
   font-family: inherit; /* �룿�듃 �긽�냽 */
   padding: .8em .5em; /* �뿬諛깃낵 �넂�씠 寃곗젙 */
   border: 0;
   opacity: 0; /* �닲湲곌린 */
   filter: alpha(opacity = 0); /* IE8 �닲湲곌린 */
   -webkit-appearance: none; /* �꽕�씠�떚釉� �쇅�삎 媛먯텛湲� */
   -moz-appearance: none;
   appearance: none;
   background: white;
}